#top > .navbar {
	border-top: 3px solid #0088cc;
}

#top > .navbar .dropdown-menu > li > a:hover,
#top > .navbar .dropdown-menu > li > a:focus {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0088cc), to(#006699));
	background-image: -webkit-linear-gradient(top, #0088cc, 0%, #006699, 100%);
	background-image: -moz-linear-gradient(top, #0088cc 0%, #006699 100%);
	background-image: linear-gradient(to bottom, #0088cc 0%, #006699 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff006699', GradientType=0);
	color: #fff;
}