body {
    background-color: #fff;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #73726C;
    overflow-x: hidden;
}
a,
a:focus{outline: none;}
.twitter{display: none !important;}
.search-clubs-wrap{
    max-width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    padding:51px 15px 79px;
}
.search-wrapper{
    float: left;
    width: 66.9902%;
}
.search-clubs-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 36px;
    padding: 0;
    border: none;
    color: #4d4d4d;
}
.advanced-search.add{
    padding: 0;
    position: relative;
}
.advanced-search.add img{
    display: block;
    width: 100%;
    min-height: 264px;
}
.advanced-search-content{
    position: absolute;
    top: 80px;
    left: 18.8405%;
    right: 0;
    max-width: 420px;
    margin: 0;
}
.advanced-search-content .form-wrap{
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px;
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.advanced-search-content input[type="text"]{
    padding: 10px 29px 15px;    
    color: #999;
    height: auto;
    margin: 0;
    font-style: normal;
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.advanced-search-content .select-wrap{
    float: left;
    width: 250px;
}
.select-wrap .selectBox-dropdown{
    height: 50px;
}
.select-wrap .selectBox-dropdown .selectBox-label{
    color: #999;
    padding: 13px 29px;
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.advanced-search .select-wrap .selectBox-arrow{
    background:url(../images/sprite-rewards.png) no-repeat -58px -1px;
    height: 10px;
    top: 20px;
    width: 18px;
    right: 19px;
}
.advanced-search-content .search-button{
    margin: 0 0 0 20px;
    padding: 0;
    width: 150px;
    height: 50px;
    background: #d91e26;
}
.local-clubs-wrap{
    float: right;
    width: 31.06796%;
    margin:0 0 0 1.94174% 
}
.local-clubs-holder{
    background: #dfdfdf;
    padding:20px; 
}
.local-clubs-holder .image-wrap{padding: 0;}
.local-clubs-holder .info-wrap{
    background: #fff;
    padding: 20px;
    overflow: hidden;
}
.local-clubs-holder .text-holder{
    float: left;
}
.local-clubs-holder strong.title{
    display: block;
    font:normal 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#000;
    margin: 0;
}
.local-clubs-holder strong.title a{color: #000;}
.local-clubs-holder span.location{
    display: block;
    font: 12px/16px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-transform: uppercase;
    color: #666;
    margin: 0 0 3px;
}
.local-clubs-holder span.like-wrap{
    float: right;
    width: 22px;
    height: 20px;
    margin: 10px 9px 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/sprite-rewards.png) no-repeat -148px -1px;
}
.local-clubs-holder .owl-carousel .owl-controls{
    top: 80px;
    width: 100%;
}
.local-clubs-holder .owl-controls .owl-nav div.owl-prev,
.local-clubs-holder .owl-controls .owl-nav div.owl-next{
    width: 14px;
    height: 20px;
    position: absolute;
    top: 0;
    margin: 0;
}
.local-clubs-holder .owl-controls .owl-nav div.owl-prev{
    background: url(../images/sprite-rewards.png) no-repeat -176px -2px;
    left: 11px;
}
.local-clubs-holder .owl-controls .owl-nav div.owl-next{
    background: url(../images/sprite-rewards.png) no-repeat -195px -2px;
    right: 11px;
}
.discount-featured-wrap{
    max-width: 1060px;
    margin: 0 auto 63px;
    padding: 0 15px;
}
.discount-featured-wrap:after{
    content: '';
    display: block;
    clear: both;
}
.discount-featured-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 ;
    padding: 0 0 5px;
    border-bottom:1px solid #c3c3c3;
    color: #4d4d4d; 
}
.discount-wrap{
    float: left;
    width: 57.281553%;
}
.discount-wrap .discount-holder{
    padding: 28px 0 0;
}
.discount-holder .owl-carousel .owl-controls{top: -58px;}
.feature-wrapper{
    float: right;
    width: 40.7737%;
    margin: 0 0 0 1.94174%;
}
.discount-featured-wrap .info-wrap{
    background: #fff;
    padding: 36px 0;
    overflow: hidden;
}
.discount-featured-wrap strong.title{
    display: block;
    font:normal 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#000;
    margin: 0;
}
.discount-featured-wrap strong.title a{color: #000;}
.discount-featured-wrap span.location{
    display: block;
    font: 12px/16px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-transform: uppercase;
    color: #666;
}
div.featured-deals-holder #featureCarousel .item img.price{
    position: absolute;
    top: -10px;
    right: 22px;
}
span.prc_btm_01{
    right: 10px;
    font: 20px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-shadow:none;
    top: 8px;
}
.featured-club-news-holder.add{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}
.featured-club-news-holder.add:after{
    content: '';
    display: block;
    clear: both;
}
.featured-club-news-holder.add h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.featured-club-news-holder.add h3 span{border: none;}
.media-block .featured-club-news-holder.add  .club-news .info{border-width: 0px 5px 5px;}
.media-block .club-news .info span{
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    text-transform: uppercase;
}
.media-block.add{padding:56px 15px 61px; }
.media-block .club-news .info h4{
    font:18px/22px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 4px;
}
.media-block .club-news .info h4 a{
    color: #4d4d4d;
}
.media-block div.featured-club-news-holder div.club-news .btn-danger{
    background: #d91e26;
}
.media-block.add .club-news .info{padding:12px 16px 50px; }
.media-block.add .club-news .info p{margin-bottom: 10px;}
.media-block.add .club-news .info .btn{
    bottom: 14px;
    height: 30px;
    width: calc(100% - 32px);
}
.sub-page-banner-wrap{
    padding:20px 0 21px;
}
.sub-page-banner-wrap img{
    width: 100%;
    display: block;
    height: auto;
}
.breadcrumb-wrap{
    padding: 0;
    overflow: hidden;
    background: #f6f6f6;
    margin: 0 0 56px;
}
ul.breadcrumb-list{
    margin: 0;
    padding: 8px 16px 11px;
    list-style: none;
    overflow: hidden;
}
ul.breadcrumb-list li{
    float: left;
    font:13px/17px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    position: relative;
    padding: 0 6px 0 10px;
    text-transform: capitalize;
}
ul.breadcrumb-list li a{color: }
ul.breadcrumb-list li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    background: url(../images/sprite-rewards.png) no-repeat -216px -2px;
    width: 6px;
    height: 5px;
    margin: -2px 0 0;
}
ul.breadcrumb-list li:first-child:before{display: none;}
ul.breadcrumb-list li:first-child{padding-left: 0;}
.information-wrapper{
    padding: 0 0 34px;
    text-align: center;
    font:15px/17px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #acacac;
}
.video-wrapper{padding: 0;}
.video-wrapper.add{padding: 30px 0 24px;}
.video-wrapper strong.title{
    display: block;
   font:normal 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
   color:#4d4d4d;
   margin: 0 0 43px;
}
.video-wrapper.add strong.title{margin: 0 0 45px;}
.information-detail-wrap p{text-align: center;}
.video-wrapper .video-holder{
    margin: 0 auto 50px;
    width: 660px;
    padding: 0;
    position: relative;
    right: 5px;
}
.information-wrapper .video-wrapper.add .contact-wrap{top: 24px;}
.video-wrapper .video-holder img{
    display: block;
    width: 100%;
    height: auto;
}
.video-wrapper span.highlight{
    display: block;
    color: #333;
    margin: 0 0 22px;
}
.video-wrapper p{
    margin: 0 0 17px;
}
.information-wrapper .contact-wrap{
    display: block;
    width: 199px;
    height: 50px;
    border-radius: 8px;
    background:#d91e26;
    font:normal 20px/50px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #fff;
    margin: 0 auto 50px;
    position: relative;
    top: 5px;
    right: 4px;
}
.information-wrapper .contact-wrap a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.joining-local-club-wrap{
    padding: 53px 0 120px;
    background: #dfdfdf;
    margin: 0 0 130px;
}
.joining-local-club-wrap h3{
    font:normal 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#4d4d4d;
    border-bottom: 1px solid #c3c3c3;
    margin: 0 0 25px;
    padding: 0 0 5px;
}
.search-result-wrapper{
    padding: 24px 20px 116px;
    background: #fff;
    overflow: hidden;
}
.search-result-wrapper.add{padding-bottom:88px;}
.joining-local-club-wrap.add{
    padding: 53px 0 112px;
    margin: 0 0 119px;
}
.club-search-wrap{
    float: left;
    width: 34.3434%;
    background:#dfdfdf;
    font:normal 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.club-search-wrap h4{
    padding:21px 20px 25px;
    font:normal 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    display: block;
    width: 100%;
    background: #282828;
    color: #fff;
    text-align: center;
    margin: 0;
}
.club-result-wrap{
    float: right;
}
.search-inner-holder{
    padding: 24px 19px;
}
.search-inner-holder .title{
    display: block;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
}
.search-inner-holder .input-wrapper{
    padding: 0 0 20px;
    overflow: hidden;
}
.search-inner-holder input[type="text"]{
    border: none;
    border-radius: 0;
    padding: 13px 29px;
    outline: none;
    width: 100%;
    -webkit-appearance:none;
     -moz-appearance:none;
     font:normal 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.search-result-wrapper .club-search-wrap.add button[type="submit"]{width: 100%;}
.search-inner-holder button[type="submit"]{
    display: block;
    width: 199px;
    height: 50px;
    margin: 11px auto 7px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #d91e26;
    color:#fff;
    font:normal 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.club-result-wrap{
    float: left;
    width: 63.6363%;
    margin: 0 0 0 1.91919%;
    padding: 21px 0 0;
}
.club-result-wrap strong.club-result{
    display: block;
    color: #292929;
    margin: 0 0 25px;
    font:normal 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.club-result-wrap.add strong.club-result{margin:0 0 33px;}
.search-option-wrap{margin: 0 0 19px;}
.club-result-wrap.add .search-option-wrap{margin: 0 0 8px;}
.search-option-wrap:after{
    content: '';
    display: block;
    clear: both;
}
.search-option-wrap .option-wrap{
     background: #f0f0f0;
     float: left;
     width: 49.20634%;
     border-radius: 5px;
     margin-left: 1.42857%;
}
.search-option-wrap .option-wrap:first-child{margin: 0;}
.search-option-wrap .option-wrap label{
    float: left;
    padding:6px 11px;
    width: 28.709677%;
    margin: 0;
    font:normal 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    border-right: 1px solid #e5e5e5;
}
.search-option-wrap .option-wrap a.selectBox{
    float: left;
    width: 70.96774% !important;
    height: 33px;
    font:normal 15px/21px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    background: none;
    border: none;
    outline: none;
    color: #ccc;
    cursor: pointer;
}
.search-option-wrap .option-wrap .selectBox-dropdown .selectBox-label{
    padding: 6px 12px;
}
.search-option-wrap .option-wrap .selectBox-dropdown .selectBox-arrow{
    border-left: 1px solid #e5e5e5;
    width: 37px;
}
.search-result-inner-holder{
   padding: 0;   
}
.search-result-list{
    margin: 0 0 72px;
    padding: 8px 1.74603%;
    background: #efefef; 
    list-style: none;
    overflow: hidden;
}
.search-result-list li{
    padding: 0;
    overflow: hidden;
    margin: 0 0 10px;
}
.search-result-list .image-wrap{
    float: left;
    width: 27.9605%;
    height: 180px;
    background: #fff;
    border-radius: 5px;
}
.search-result-list .image-wrap img{
    padding: 10px 0 0;
}
.search-result-list .image-wrap a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.search-result-list .result-detail-wrap{
    float: left;
    margin: 0 0 0 1.64473%;
    width: 70.0657%;
    border-radius: 5px;
    background: #fff;
}
.search-result-list .result-detail-heading{
    padding: 13px 16px 13px 19px;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
}
.search-result-list .result-title-wrap{
    float: left;
    width: 74.168797%;
}
.search-result-list .result-title-wrap strong{
    display: block;
    font:20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    font-weight: normal;
}
.search-result-list .result-title-wrap strong.title a{
    color: #333;
}
.search-result-list .result-title-wrap strong.sub-title{
    color: #999;
}
.search-result-list .result-detail-heading .search-option{
    float: right;
    background: #d91e26;
    width: 89px;
    height: 30px;
    font:400 16px/30px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-align: center;
    border-radius: 5px;
    margin: 4px 0 0;
}
.search-result-list .result-detail-heading .search-option a{
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.result-contact-info-wrap{
    padding: 17px 19px;
    font:400 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #666;
}
.result-contact-info-wrap .address{
    display: block; 
    position: relative;
    padding: 0 0 0 22px;
}
.result-contact-info-wrap .address:before{
    content: '';
    position: absolute;
    background: url(../images/sprite-rewards.png) no-repeat -233px -2px;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 13px;
}
.result-contact-info-wrap address{
    font-weight: normal;
    font-style: normal;
    margin: 0;
}
.result-contact-info-wrap .contact-number-wrap{
    overflow: hidden;
    margin: 0 0 10px;
}
.result-contact-info-wrap .contact-number-wrap .number-wrap{
    float: left;
    color: #666 !important;
    position: relative;
    padding: 0 19px 0 22px;
}
.result-contact-info-wrap .contact-number-wrap .number-wrap:before{
    content: '';
    position: absolute;
    background: url(../images/sprite-rewards.png) no-repeat -233px -23px;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
}
.result-contact-info-wrap .contact-number-wrap .fax-no-wrap{
    padding: 0 0 0 23px;
    position: relative;
}
.result-contact-info-wrap .contact-number-wrap .fax-no-wrap:before{
    content: '';
    position: absolute;
    background: url(../images/sprite-rewards.png) no-repeat -232px -41px;
    top: 4px;
    left: 4px;
    width: 14px;
    height: 14px;
}
.result-contact-info-wrap .email-wrap{
    display: block;
}
.result-contact-info-wrap .email-wrap a{
    color: #282828;
}
.result-contact-info-wrap .email-wrap a:hover{
    color:#d91e26;
    text-decoration: none;
}
.number-wrap .skype_c2c_textarea_span img.skype_c2c_logo_img,
.highlight .skype_c2c_textarea_span img.skype_c2c_logo_img{display: none !important;}
.number-wrap .skype_c2c_textarea_span span.skype_c2c_text_span{
    color: #666 !important;
}
.highlight .skype_c2c_textarea_span span.skype_c2c_text_span{font-weight: bold; color:#333 !important;}
.pagination-wrap{
    padding: 0;
}
.pagination-wrap:after{
    content: '';
    display: block;
    clear: both;
}
.pagination-wrap nav{float: left; width: 280px; margin: 0 0 0 61px;}
.pagination-wrap ul.pagination{
    width: 280px;
}
.pagination-wrap ul.pagination li{margin:0 0 0 26px;}
.pagination-wrap ul.pagination li:first-child{margin-left: 0;}
.pagination-wrap ul.pagination li a{
    background: none;
    border-width: 3px;
    border-style: solid;
    border-color:transparent;
    width: 36px;
    height: 32px;
    padding: 2px 10px;
}
.pagination-wrap ul.pagination li a.prev,
.pagination-wrap ul.pagination li a.next{
    width: 36px;
    height: 32px;
    padding: 9px 12px;
    background: #f0f0f0;
    border: none;
    outline: none;
}
.pagination-wrap ul.pagination li a.prev span,
.pagination-wrap ul.pagination li a.next span{
    background:url(../images/sprite-rewards.png) no-repeat -183px -33px;
    text-indent: -9999px;
    width: 11px;
    height: 12px;
    display: block;
}
.pagination-wrap ul.pagination li a.next span{
    background-position: -197px -33px;
}
.pagination-wrap ul.pagination li.active a,
.pagination-wrap ul.pagination li:hover a{
    border: 3px solid #f0f0f0;
    border-radius: 5px;
    color: #c52f38;
    background: none;
}
.pagination-wrap ul.pagination li:hover a.prev,
.pagination-wrap ul.pagination li:hover a.next{border: none;}
.pagination-items-option-wrap{
    float: right;
    width: 205px;
    position: relative;
}
.pagination-items-option-wrap label,
.pagination-items-option-wrap .margin_right_wrp_bxt_itm{
    float: left;
    font:300 15px/33px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 13px 0 0;
    color: #4d4d4d;
}
.pagination-items-option-wrap .selectBox-dropdown{
    float: left;
    width: 79px !important;
    height: 33px;
    background: #f0f0f0;
    border:none;
    cursor:pointer;
    outline: none;
}
.pagination-items-option-wrap .selectBox-dropdown .selectBox-label{
    font:300 20px/33px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#d91e26;
    width: 40px !important;
    text-align: center;
    padding: 0;
}
.pagination-items-option-wrap .selectBox-dropdown .selectBox-arrow{
    width: 39px;
    border-left: 1px solid #e7e7e7;
}
.pagination-items-option-wrap .dropdown-menu > li > a{color:#d91e26;}
.inner-slider-wrapper{
    max-width: 1060px;
    margin: 0 auto 61px;
    padding: 0 15px;
}
#inner-slider{
    padding: 0;
    position: relative;
}
#inner-slider:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: -30px;
    left: 0;
    background:#c3c3c3;
}
.inner-slider-wrapper .owl-carousel .owl-controls{top: -60px;}
.choices-wrap{
    padding: 0;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    margin: 0 0 19px;
}
.choices-wrap ul.choices-list{
    margin: 0;
    padding: 12px 14px;
    list-style: none;
    float: left;
}
.choices-wrap ul.choices-list li{
    float: left;
    font:300 12px/14px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    border-left: 1px solid #999;
    padding: 0 7px;
}
.choices-wrap ul.choices-list li:first-child{border:none;}
.choices-wrap ul.choices-list li a{
    color: #999;
}
.choices-wrap .recycle-block{
    float: right;
}
.choices-wrap .recycle-block a{
    background:url(../images/sprite-rewards.png) no-repeat -253px 2px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 39px;
    height: 38px;
    border-left: 1px solid #999;
}
.notification-wrapper{
    padding: 0;
    margin: 0 0 27px;
}
.notification-wrapper #scrollbar1 .viewport{
    height: 843px;
    margin: 0 22px 0 0;
}
.notification-list{
    margin: 0;
    padding: 0;
    list-style: none;
    /*max-height: 843px;
    overflow-y:scroll;*/
}
.notification-list li{
    overflow: hidden;
    padding: 10px;
    background: #efefef;
    margin: 0 0 20px;
}
.notification-list li span{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 1.6863% 0 0;
    outline: none;
}
.notification-list li input[type="checkbox"] + label span {
    background:#fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 1.0863% 0 0;
    vertical-align: middle;
    width: 20px;
}
.notification-list li input[type="checkbox"]:checked + label span{
    background: #b7b6b6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
}
.notification-list li label{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
}
.notification-list .company-logo{
    display: inline-block;
    vertical-align: middle;
    width: 85px;
    margin: 0 2.18095% 0 0;
    border-radius: 8px;
}
.notification-list .company-logo a{
    display: block;
    width: 100%;
    height: 100%;
}
.notification-list .company-detail-block{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width: 77.4545%;
}
.notification-list .company-detail-holder{
    display: inline-block;
    vertical-align: middle;
    width: 89.767441%;
    padding: 5px 0 0;
} 
.notification-list .company-detail-block .company-name{
    display: block;
    font:300 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif; 
    margin:0 0 10px;   
}
.notification-list .company-detail-block .company-name a{  color: #333;}
.notification-list .detail-info{
    color: #9d9d9d;
    font-weight: normal;
}
.notification-list .detail-info p{margin: 0 0 9px;}
.notification-list .contact-company{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background:#fff;
    text-indent: -9999px;
    overflow: hidden;
}
.notification-list .contact-company a{
    display: block;
    width: 100%;
    height: 100%;
}
.notification-list .contact-company.mail{
     background:#fff url(../images/sprite-rewards.png) no-repeat -41px -66px;
}
.notification-list .contact-company.print{
     background:#fff url(../images/sprite-rewards.png) no-repeat -1px -65px;
}
.myclub-wrap{padding: 0;}
.myclub-wrap h3{
     font:300 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
     margin: 0 0 27px;
     padding: 0 0 5px;
}
#owl-myClub.owl-carousel .owl-controls{top: -57px;}
.myclub-wrap .image-wrap{
    display: block;
}
.myclub-wrap .info-wrap{
    background: #fff;
    padding: 35px 0 15px;
    overflow: hidden;
    display: block;
}
.myclub-holder{padding: 0;}
.myclub-holder .owl-item.active:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
}
#owl-myClub{padding:  22px 30px;}
.myclub-wrap strong.title{
    display: block;
    font:normal 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#000;
    margin: 0;
}
.myclub-wrap strong.title a{color: #000;}
.myclub-wrap span.location{
    display: block;
    font: 12px/16px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-transform: uppercase;
    color: #666;
    margin: 0 0 3px;
}
.inner-holder{
    border: 1px solid #c3c3c3;
    padding:49px 5.9595%;
    display: none;
}
.inner-holder.active{display: block;}
.inner-holder .owl-controls{
    left: 0;
    right: 0;
    width: 100%;
    top: 50%;
    margin: -7px 0 0;
}
.inner-holder .owl-controls .owl-prev,
.inner-holder .owl-controls .owl-next{
    position: absolute;
    left: -34px;
    top:0;
}
.inner-holder .owl-controls .owl-next{
    right: -39px;
    left: auto;
}
.myclub-content-wrapper{padding:0 19px 89px 21px;}
.inner-content{
    padding: 39px 0 0;
}
.inner-content .heading{
    padding: 0;
    overflow: hidden;
    margin: 0 0 36px;
}
.inner-content .heading h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    margin: 0;
    width: 70%;
    padding: 0;
    border: none;
    float: left;
}
.inner-content .view-website{
    float: right;
    width: 179px;
    height: 30px;
    text-align: center;
    margin: 10px 0 0;
}
.inner-content .view-website a{
    background: #d91e26;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    font: 16px/30px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#fff;
}
.inner-content .view-website a:hover{
    background: #c10f17;
    text-decoration: none;
}
.inner-content .description-block{
    padding: 0;
    color: #9d9d9d;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    margin: 0 0 40px;
}
.inner-content .description-block p{
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 20px;
}
.detail-info-block{
    padding: 0 0 20px;
}
.detail-info-block:after{
    content: '';
    display: block;
    clear: both;
}
.detail-info-block h3{
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin:0 0 14px;
    padding: 0;
    color:#000;
    border: none;
}
.detail-info-block .left-info-block{
    float: left;
    width: 48.85057%;
}
ul.facilities{
    margin: 0 0 83px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
ul.facilities li{
    margin: 0 0 14px;
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    padding: 0 0 0 22px;
    position: relative;
}
ul.facilities li:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 1px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    border-radius: 50%;
}
ul.facilities li a{
    color:#4d4d4d;
}
.detail-contact-wrap{padding: 0;}
.detail-contact-wrap ul.contact-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.detail-contact-wrap ul.contact-list li{
    padding: 9px 0 21px 43px;
    position: relative;
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.detail-contact-wrap ul.contact-list li span{
    background:url(../images/sprite-rewards.png) no-repeat -6px -109px;
    position: absolute;
    left: -5px;
    top: 10px;
    text-indent: -9999px;
    overflow: hidden;
}
.detail-contact-wrap ul.contact-list li a{
    color: #333;
}
.detail-contact-wrap ul.contact-list li.mail span{
    width: 20px;
    height: 18px;
    background-position: -6px -109px;
    top: 17px;
}
.detail-contact-wrap ul.contact-list li.email span{
    width: 20px;
    height: 20px;
    background-position: -6px -136px;
    top: 14px;

}
.detail-contact-wrap ul.contact-list li.phone-no span{
    width: 20px;
    height: 18px;
    background-position: -6px -166px;
    top: 14px;
}
.detail-contact-wrap ul.contact-list li.location span{
    width: 15px;
    height: 23px;
    background-position: -8px -192px;
    top: 9px;
}

.detail-info-block .right-info-block{
    float: right;
    width: 49.31034%;
}
.detail-info-block #scrollbar1 .viewport{
    height: 508px;
    margin: 0 22px 0 0;
}
ul.events-news-list{
    margin: 0;
    padding: 4px 0 0;
    list-style: none;
}
ul.events-news-list li{
    padding:15px 4.66200% 26px;
    overflow: hidden;
    background: #f6f6f6;
    margin: 0 0 10px;
}
ul.events-news-list .events-date-wrap{
    float: left;
    padding: 4px 0 0;
}
ul.events-news-list .calendar-icon{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 6px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff url(../images/sprite-rewards.png) no-repeat -76px -66px;
}
ul.events-news-list span{
    display: block;
    text-align: center;
    color: #000;
}
ul.events-news-list span.date{font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;}
ul.events-news-list span.month{font: 10px/12px 'Conv_HelveticaNeueLTStdBd', sans-serif;}
ul.events-news-list .events-news-detail{
    float: left;
    width: 83.33333%;
    margin: 0 0 0 5.3763%;
    color:#9d9d9d;
}
ul.events-news-list .events-news-detail h4{
    margin: 0 0 7px;
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    padding: 0;
    text-transform: capitalize;
}
ul.events-news-list .events-news-detail p{
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 17px;
}
ul.events-news-list .events-news-detail span.readmore{
    float: left;
    color: #d91e26
}
.profile-info-wrap{padding:0 0 93px; overflow: hidden;}
.profile-info-wrap .image-wrap{
    float: left;
    padding: 7px 0 0 2px;
    width: 30.9708%;
}
.profile-info-wrap .image-wrap img{
    display: block;
    width: 100%;
    height: auto;
}
.profile-info-wrap .profile-description-wrap{
    float: left;
    width: 65.5339%;
    color: #9d9d9d;
    margin: 0 0 0 2.52427%;
}
.profile-info-wrap .profile-description-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 18px;
    padding: 0;
    border: none;
}
.profile-info-wrap .descrip-wrap{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
}
.profile-info-wrap .profile-description-wrap p{
    font:14px/17px 'Helvetica', sans-serif;
    margin: 0 0 17px;
}
.list-wrap{padding: 0;}
.block-heading{
    overflow: hidden;
    position: relative;
}
.block-heading h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 4px 0 29px;
    padding: 0 0 4px;
}
.block-heading .add-wrap{
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
    height: 30px;
    background: #d91e26;   
    border-radius: 5px; 
}
.block-heading .add-wrap a{
    display: block;
    width: 100%;
    height: 100%;
    font: 16px/30px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #fff;
    text-align: center;
}
.list-wrap #scrollbar1,
.list-wrap #scrollbar2,
.list-wrap #scrollbar3{margin:0 0 45px;}
.list-wrap #scrollbar1 .viewport,
.list-wrap #scrollbar2 .viewport,
.list-wrap #scrollbar3 .viewport{
    height: 455px;
    margin: 0 22px 0 0;
}
.table-wrap{
    padding: 0;    
    border: 1px solid #e0e0e0;
}
.table-wrap table{
    width:100%; 
    border-collapse: collapse;    
    background: #f5f5f5;    
}
tbody tr:nth-child(odd) {
   background:#fff;
}
.table-wrap td, .table-wrap th{
    border-left: 1px solid #e0e0e0;
    padding: 13px 16px;
}
.table-wrap th{
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #323d45;
}
.table-wrap td{
    font-size: 14px;
    line-height: 18px;
}
.table-wrap .first{width: 64px; text-align: center;}
.table-wrap .second,
.table-wrap .third{width: 239px;}
.table-wrap .fourth{width: 333px; padding: 13px 18px;}
.table-wrap .fifth{width:110px; border: none; padding: 13px 14px;}
.table-wrap .edit{
    background: url(../images/sprite-rewards.png) no-repeat -291px 2px;
    float: left;
    padding:0 0 0 15px;
    color: #323d45;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: underline;
}
.table-wrap .delete{
    float: left;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    margin: 5px 8px 0 24px;
    background: url(../images/sprite-rewards.png) no-repeat -267px -42px;
}
.list-wrap.add{padding:12px 0 0;}
.contact-detail-inner-wrap{
    padding:32px 40px;
    background: #f5f5f5;
    margin: 0 0 75px;
}
.contact-detail-wrap h4{
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0;
    padding: 0;
}
.contact-detail-wrap ul.contact-list{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-detail-wrap ul.contact-list li{
    padding: 9px 0 9px 43px;
    position: relative;
    font: 16px/20px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    overflow: hidden;
}
.contact-detail-wrap ul.contact-list li span.icon{
    background:url(../images/sprite-rewards.png) no-repeat -6px -109px;
    position: absolute;
    left:0;
    top: 10px;
    text-indent: -9999px;
    overflow: hidden;
}
.contact-detail-wrap ul.contact-list li a{
    color: #333;
}
.contact-detail-wrap ul.contact-list li.mail span.icon{
    width: 20px;
    height: 18px;
    background-position: -6px -109px;
    top: 10px;
}
.contact-detail-wrap ul.contact-list li.email span.icon{
    width: 20px;
    height: 20px;
    background-position: -6px -136px;
    top: 10px;

}
.contact-detail-wrap ul.contact-list li.phone-no span.icon{
    width: 20px;
    height: 18px;
    background-position: -6px -166px;
    top: 12px;
}
.contact-detail-wrap ul.contact-list li.location span.icon{
    width: 15px;
    height: 23px;
    background-position: -8px -192px;
    top: 11px;
}
.contact-detail-wrap span.edit{
    float: right;
    background: url(../images/sprite-rewards.png) no-repeat scroll -291px 2px;
    color: #323d45;
    cursor: pointer;
    padding: 0 0 0 15px;
    text-decoration: underline;
    text-transform: capitalize;
}
.contact-detail-wrap ul.contact-list li address{float: left;}
.edit-popup-wrapper{padding: 0;}
.modal .modal-dialog{
    width: 471px;
    border: 3px solid #292929;
}
.modal .modal-content{
    border:none;
    border-radius:0;
    box-shadow: none;
}
.modal-open .modal{background:rgba(0,0,0,0.39);}
.edit-popup-wrapper .modal-header{
    padding: 35px 31px;
    position: relative;
}
.modal .modal-header h4{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    color: #4d4d4d;
}
.modal .modal-header .close{
    position: absolute;
    top:17px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: url(../images/sprite-rewards.png) no-repeat -267px -42px;
    text-indent: -9999px;
    overflow: hidden;
}
.edit-popup-wrapper .modal-body{
    padding: 0 31px;
    border: none;
    margin: 0;
}
.edit-popup-wrapper .modal-footer{
    padding: 0 31px 35px;
}
.edit-popup-wrapper .modal-body .input-holder{
    overflow: hidden;
    margin: 0 0 19px;
}
.edit-popup-wrapper .modal-body label{
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    float: left;
    width: 87px;
    color: #323d45;
    padding: 7px 0 0;
}
.edit-popup-wrapper .modal-body input,
.edit-popup-wrapper .modal-body textarea{
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    border: 1px solid #ccc;
    padding: 6px 23px;
    color: #323d45;
    float: left;
    width: 315px;
    outline: none;
}
.edit-popup-wrapper .modal-body textarea{height: 160px;}
.modal button{
    background: #d91e26;
    text-align: center;    
    width: 130px;
    height: 30px;
    font: 16px/30px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #fff;
    cursor:pointer;
    padding: 0;
    text-transform: none;
    border-radius: 5px;
}
.contact-information-wrap{padding: 0 0 94px; margin: -2px 0 0;}
.contact-information-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 32px;
    padding: 0 0 5px;
    color: #4d4d4d;
}
.contact-inner-holder{
    overflow: hidden;
}
.contact-left-block{
    float: left;
    width:58.05825%;
    font-size: 14px;
    line-height: 17px;
}
.contact-right-block{
    float: right;
    width: 37.76699%;
    height: 400px;
    background:#f2f2f2;
}
.contact-information-wrap span.info{
    display: block;
    margin:0 0 37px;
    max-width: 600px;
    line-height: 21px;
}
form.contact{
    margin: 0;
    padding: 17px 12px 13px;
    background: #f2f2f2;
}
form.contact .input-row{margin: 0 0 10px;}
form.contact .input-row:after{
    content: '';
    display: block;
    clear: both;
}
form.contact input{
    border:none;
    outline:none;
    padding: 7px 10px;
    background: #fff;
    font: 16px/20px 'Helvetica', sans-serif;
    color: #4d4d4d;
    border-radius: 3px;
    width: 48.9547%;
    float: left;
    margin: 0 0 0 2.090592%;
}
form.contact input:first-child{margin: 0;}
form.contact span{
    display: block;
    font:italic 14px/18px 'Helvetica', sans-serif;
    margin: 0 0 12px;
    padding: 4px 0 0  3px;
}
form.contact .selectBox-dropdown{
    width: 100%;
    height: 33px;
    border:none;
    background:#fff;
    color:#4d4d4d;
    outline: none;
}
form.contact .selectBox-dropdown span{
    font-style: normal;
    color:#4d4d4d;
}
form.contact .selectBox-dropdown .selectBox-label{
    padding: 8px 12px;
}
form.contact  .selectBox-dropdown .selectBox-arrow{
    width: 36px;
    border-left: 1px solid #f0f0f0;
    cursor: pointer;
}
form.contact input.full{width: 100%; float: none; display: block;}
form.contact textarea{
    padding: 8px 10px;
    font:16px/20px 'Helvetica', sans-serif;
    width: 100%;
    height: 104px;
    border: none;
}
form.contact button[type="submit"]{
    float: right;
    font:16px/41px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    width: 122px;
    height: 41px;
    background: #d91e26;
    color: #fff;
    text-align: center;
    padding: 0 5px;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.partner-wrap{
    max-width: 1060px;
    padding: 0 15px 136px;
    margin: 0 auto;
}
.partner-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 30px;
    padding: 0 0 5px;
    color: #4d4d4d;
}
.partner-wrap .owl-controls{top: -102px;}
.partner-holder{padding: 44px 0 0;}
.contact-right-block.add{background: #fff;}
.additional-contact{
    background: #fff;
}
.additional-contact .img-wrap{
    display: block;
    margin: 0 0 26px;
}
.additional-contact .title{
    display: block;
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    margin: 0 0 47px;
}
.additional-contact .title a{
    color: #4d4d4d;
}
.additional-contact ul.contact-list{
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
}
.additional-contact ul.contact-list li{
    padding: 0 0 5px 25px;
    position: relative;
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.additional-contact ul.contact-list li span{
    background:url(../images/sprite-rewards.png) no-repeat -6px -109px;
    position: absolute;
    left: 0;
    top: 10px;
    text-indent: -9999px;
    overflow: hidden;
}
.additional-contact ul.contact-list li a{color: #333;}
.additional-contact ul.contact-list li.mail span{
    width: 20px;
    height: 18px;
    background-position: -6px -109px;
    top: 17px;
}
.additional-contact ul.contact-list li.email span{
    width: 15px;
    height: 11px;
    background-position: -38px -193px;
    top: 5px;
}
.additional-contact ul.contact-list li.phone-no span{
    width: 11px;
    height: 15px;
    background-position: -41px -166px;
    top: 2px;
}
.additional-contact ul.contact-list li.location span{
    width: 12px;
    height: 16px;
    background-position: -41px -109px;
    top: 3px;
}
.additional-contact ul.contact-list li.post span{
    width: 19px;
    height: 13px;
    background-position: -37px -140px;
    top: 6px;
}
.additional-contact ul.contact-list li.post{margin: 0 0 27px;}
.additional-contact ul.contact-list li address{margin: 0;}
.breadcrumb-wrap.add{margin:27px 0 65px;}
.breadcrumb-wrap.add01{margin:37px 0 36px;}
.contact-information-wrap.add{padding: 0 0 10px;}
.contact-information-wrap.add h3{
    padding: 0 0 14px;
    margin: 0 0 41px;
}
.contact-information-wrap.add form.contact{padding: 13px 12px;}
form.contact .input-row.add{margin: 0 0 37px;}
.contact-information-wrap.add form.contact button[type="submit"]{width: 159px;}
.two-columns-wrapper{
    padding: 0 0 140px;
    overflow: hidden;
}
.two-columns-wrapper .left-column-wrapper{
    float: left;
    width: 27.184466%;
    padding: 11px 0 0;
}
.left-column-wrapper .input-wrap{
    padding:  8px 8px 7px;
    background: #f0f0f0;
    border-radius: 4px;
    margin: 0 0 15px;
}
.left-column-wrapper .input-wrap:after{
    content: '';
    display: block;
    clear: both;
}
.left-column-wrapper label{
    display: block;
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    padding: 0 11px;
    margin:0 0 6px; 
}
.left-column-wrapper input[type="text"]{
    display: block;
    border:none;
    width: 100%;
    outline: none;
    padding: 8px 11px;
    font: 15px/19px 'Helvetica', sans-serif;
    color: #999;
    border-radius: 4px;
    background: #fff;
}
.left-column-wrapper .selectBox-dropdown{
    border: none;
    background: #fff;
}
#refinesearchform .form-control{border: none;}
.left-column-wrapper .form-control:focus{box-shadow: none;}
.left-column-wrapper a.selectBox.form-control span.selectBox-label{color: #999;}
.left-column-wrapper .distance-slider{
    padding:1px 0 5px 5px;
}
.left-column-wrapper .distance-slider .distance{
    overflow: hidden;
    font: 15px/19px 'Helvetica', sans-serif;
    color: #999;
}
.left-column-wrapper .distance .nearest{
    float: left;
}
.left-column-wrapper .distance .farest{
    float: right;
}
.left-column-wrapper .slider.slider-horizontal{
    width: 100%;
}
.slider.slider-horizontal .tooltip.tooltip-main{opacity: 1;}
.left-column-wrapper .ui-slider-handle{
    width: 15px;
    height: 15px;
    background: #989898;
    border-radius: 50%;
    color: #000;
    margin: 0 0 0 -7px;
}
.handler-holder{
    position: relative;
    width: 100%;
}
.handler-value-wrap{
    position: absolute;
    top: -32px;
    left:0;
    width: 42px;
    z-index: 1;
    margin-left: 0;
}
.left-column-wrapper  #amount{background: none;}
.left-column-wrapper .slider-selection,
.left-column-wrapper .ui-widget-content{    
    box-shadow: none;
}
.left-column-wrapper .ui-widget-content{
    height: 4px;
    box-shadow: none;
    border-radius: 0;
    border:none;
}
.left-column-wrapper .ui-slider-range{background: none;}
.left-column-wrapper #amount{
    background: #d91e26;
    color:#fff !important;
    font: 15px/20px 'Helvetica', sans-serif;
    border-radius: 4px;
    padding: 0;
    width: 42px;
    height: 20px;
    text-align: center;
}
.left-column-wrapper h3{
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 13px 7px;
    padding: 0;
    color: #4d4d4d;
    border: none;
}
.left-column-wrapper .category-wrap{padding:0 0 6px;}
.left-column-wrapper .category-list,
#nav{
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
}
.left-column-wrapper .category-list li{
    overflow: hidden;
    margin: 0 0 1px;
}
.left-column-wrapper .category-list li label{
    padding: 7px 12px 7px;
    background: #fff;
    margin: 0;
    overflow: hidden;
}
.left-column-wrapper .category-list li span{
    float: left;
}
.left-column-wrapper .category-list li strong{
    font-weight: normal;
    padding: 0 0 0  8px;
    float: left;
    line-height: 17px;
}
.left-column-wrapper .category-list  input[type="checkbox"] + label span{
    width: 18px;
    height: 18px;
    background-position: -2px -3px;
}
.left-column-wrapper .category-list input[type="checkbox"]:checked + label span{background-position: -22px -3px;}
.left-column-wrapper .category-list li strong.icon{
    background:url(../images/sprite-rewards.png) no-repeat -386px 0;
    padding: 0;
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    width: 12px;
    height: 12px;
    margin: 2px 0 0 11px;
}
.left-column-wrapper .category-list li.automotive strong.icon{
    background-position: -383px -16px;
    width: 16px;
    height: 9px;
    margin: 4px 0 0 8px;
}
.left-column-wrapper .category-list li.cafe strong.icon{
    background-position:-387px -27px;
    width: 12px;
    height: 8px;
}
.left-column-wrapper .category-list li.health strong.icon{
    background-position: -385px -37px;
    width: 13px;
    height: 16px;
}
.left-column-wrapper .category-list li.holiday strong.icon{
    background-position: -384px -55px;
    width: 14px;
    height: 21px;
}
.left-column-wrapper .category-list li.home strong.icon{
    background-position: -385px -80px;
    width: 13px;
    height:12px;
}
.left-column-wrapper .category-list li.leisure strong.icon{
    background-position:  -385px -94px;
    width: 12px;
    height: 12px;
}
.left-column-wrapper .category-list li.newoffer strong.icon{
    background-position: -383px -109px;
    width: 14px;
    height: 14px;
}
.left-column-wrapper .category-list li.online strong.icon{
    background-position: -384px -126px;
    width: 14px;
    height: 14px;
}
.left-column-wrapper .category-list li.restaurant strong.icon{
    background-position: -381px -145px;
    width: 17px;
    height: 11px;
}
.left-column-wrapper .category-list li.shopping strong.icon{
    background-position: -387px -159px;
    width: 8px;
    height: 14px;
}
.left-column-wrapper .category-list li.special strong.icon{
    background-position: -384px -177px;
    width: 13px;
    height: 13px;
}
.left-column-wrapper .category-list li.sports strong.icon{
    background-position: -385px -193px;
    width: 13px;
    height: 13px;
}
.left-column-wrapper button{
    font: 20px/40px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    display: block;
    width: 100%;
    background: #d91e26;
    height:50px;
    border-radius: 6px;
    color: #fff;
    border:none;
}
.two-columns-wrapper .right-column-wrapper{
    float: right;
    width: 70.873786%;
}
.result-heading{
    padding: 0;
    overflow: hidden;
    margin: 0 0 14px;
}
.result-heading .local-search.club{margin: 0; background: none;}
.result-heading div.local-search.club div.form-group{margin-bottom: 0; background: none;}
.result-heading .total-result{
    float: left;
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #4d4d4d;
    width: 33.835616%;
    padding: 7px 0 0;
}
.result-heading .sorting-option-wrap{
    float: right;
}
.result-heading .sorting-list{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.result-heading .sorting-list li{
    float: left;
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 7px 0 0;
    cursor: pointer;
}
.result-heading .sorting-list li a{
    color: #4d4d4d;
    float: left;
    padding: 8px 0 0 5px;
}
.result-heading .sorting-list li span.icon{
    float: left;
    width: 36px;
    height: 33px;
    background: #f0f0f0;
    border-radius: 4px;
    text-indent: -9999px;
    overflow: hidden;
}
.result-heading .sorting-list li.grid span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -117px -71px;
}
.result-heading .sorting-list li.list span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -152px -71px;
}
.result-heading .sorting-list li.map span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -182px -71px;
}

.result-heading .sorting-list li:hover.grid span.icon,
.result-heading .sorting-list li.active.grid span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -117px -100px;
}
.result-heading .sorting-list li:hover.list span.icon,
.result-heading .sorting-list li.active.list span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -152px -100px;
}
.result-heading .sorting-list li:hover.map span.icon,
.result-heading .sorting-list li.active.map span.icon{
    background:#f0f0f0 url(../images/sprite-rewards.png) no-repeat -182px -100px;
}
.result-heading .sorting-list li.map{
    margin: 0 7px 0 5px;
}
.result-heading .sort-by-wrap{
    float: right;
    background: #f0f0f0;
    width: 241px;
}
.result-heading .sort-by-wrap label{
    margin: 0;
    float: left;
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    padding: 7px 13px;
    color: #4d4d4d;
    width: 89px;
}
.result-heading .sort-by-wrap select{
    width: 152px;
}
.result-heading .sort-by-wrap .selectBox-dropdown{
    border: none;
    background: none;
    font: 14px/20px 'Helvetica', sans-serif;
    color: #999;
    width: 152px;
    cursor: pointer;
}
.result-heading .sort-by-wrap .selectBox-dropdown .selectBox-label{
    border-left: 1px solid #e5e5e5;
    padding: 6px 14px;
}
.result-heading .sort-by-wrap .selectBox-dropdown .selectBox-arrow{
    width: 30px;
    border-left: 1px solid #e5e5e5;
}
.result-text{
    display: block;
    font: 12px/16px 'Helvetica', sans-serif;
    color: #333;
    margin: 0 0 26px;
}
.result-holder{
    padding: 0 0 77px;
}
.result-holder:after{
    content: '';
    display: block;
    clear: both;
}
.result-holder  .result-item-list{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 739px;
}
.result-holder  .result-item-list:after{
    content: '';
    display: block;
    clear: both;
}
.result-holder  .result-item-list li{
    float: left;
    width: 237px;
    margin:0 9px 30px 0;
}
.result-holder  .result-item-list li .img-wrap{
    display: block;
    position: relative;
}
.result-holder  .result-item-list img.price {
    position: absolute;
    right: 8px;
    top: -9px;
    width: 76px;
    height: 85px;
}
.result-holder  .result-item-list span.prc-text{
    position: absolute;
    top: 5px;
    right: 6px;
    width: 70px;
    height: 58px;
    overflow: hidden;
    text-align: center;
    font: 17px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #fff;
    text-transform: uppercase;
    word-wrap:break-word;
}
.result-holder  .result-item-list  .info-wrap{
    background: #d2d2d2;
    padding: 7px 6px 5px;
    color: #151515;
}
.result-holder  .result-item-list  .info-wrap span{
    display: block;
    background: #fff;
    border-radius: 5px;
    padding: 4px 11px 8px;
    font: 19px/23px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.breadcrumb-wrap.add01 ul.breadcrumb-list li{
    font-size: 16px;
    line-height: 20px;
}
.breadcrumb-wrap.add01 ul.breadcrumb-list{
    padding:8px 10px 8px;
}
.inner-slider-wrapper.add01{margin: 0 auto 103px;}
.result-list-view{
    background: #f0f0f0;
    padding: 10px;
    margin: 0 0 33px;
}
.result-list-inner-view{overflow: hidden; margin: 0 0 9px;}
.result-list-view .image-wrap{
    float: left;
    width: 39.436619%;
}
.result-list-view .image-wrap img{
    display: block;
    width: 100%;
    height: auto;
}
.result-list-view .result-info-block{
    float: right;
    width: 57.464788%;
    padding: 10px 0 0;
}
.result-list-view .result-info-block strong.title{
    display: block;
    font:normal 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 17px;
}
.result-list-view .result-info-block strong.title a{color:#333; }
.result-list-view .result-info-block .discount-text{
    display: block;
     font: 35px/39px 'Conv_HelveticaNeueLTStdBd', sans-serif;
     color:#333;
     margin: 0 0 15px;
}
.result-list-view .result-info-block .subtitle{
    display: block;
    font: 20px/24px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#333;
    margin: 0 0 14px;
}
.result-list-view .result-info-block .price{
    display: block;
    font: 40px/44px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #333;
}
.result-list-button-holder{
    padding: 0;
    overflow: hidden;
}
.result-list-button-holder .view-website{
    float: left;
    width: 39.436619%;
    height: 40px;
    background: #c3c3c3;
    font: 16px/40px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    text-align: center;
    color:#333;
    border-radius: 4px;
}
.result-list-button-holder .view-website a{color: #333;}
.result-list-button-holder .condition-wrap{
    width: 57.464788%;
    float: right;
    font: 12px/16px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    padding: 13px 0 10px;
}


/*#handler .ui-slider-handle{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}


#handler .ui-slider-handle:after,
#handler .ui-slider-handle:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 0;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}


#handler .ui-slider-handle:before
#handler .ui-slider-handle:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}*/


.participant-wrap{padding: 0;}
.participant-wrap h3{
    font: 30px/34px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    margin: 0 0 29px;
    color: #4d4d4d;
    padding: 0 0 4px;
}
.participant-wrap table{
    width:100%; 
    border-collapse: collapse;    
    background: #f5f5f5;
    border: 1px solid #e0e0e0;   
}
.participant-wrap tbody tr:nth-child(odd) {
   background:#fff;
}
.participant-wrap td, .participant-wrap th{
    border-left: 1px solid #e0e0e0;
    padding: 13px 16px;
}
.participant-wrap th{
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #323d45;
}
.participant-wrap td{
    font-size: 14px;
    line-height: 18px;
}
.participant-wrap .first{width: 64px; text-align: center;}
.participant-wrap .second{width:159px;}
.participant-wrap .third{width: 336px;}
.participant-wrap .fourth{width: 168px; padding: 13px 18px;}
.participant-wrap .edit{
    background: url(../images/sprite-rewards.png) no-repeat -291px 2px;
    float: left;
    padding:0 0 0 15px;
    color: #323d45;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: underline;
}
.participant-wrap .delete{
    float: left;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    margin: 5px 8px 0 24px;
    background: url(../images/sprite-rewards.png) no-repeat -267px -42px;
}
.participant-list-wrap{
    margin: 0 0 43px;
}
.print-offer-wrap{
    padding:47px 0;
    background: #f0f0f0;
}
.social-sharing-wrap{
    padding: 0;
    text-align: center;
    margin: 0 0 38px;
}
.social-sharing-wrap span{
    background: url(../images/sprite-rewards.png) no-repeat -232px -70px;
    width: 61px;
    height: 20px;
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 5px;
}
.social-sharing-wrap span a{
    display: block;
    width: 100%;
    height: 100%;
}
.social-sharing-wrap span.twitter{
    display: inline-block !important;
}
.social-sharing-wrap span.facebook{
    background-position: -232px -94px;
}
.social-sharing-wrap span.googleplus{
    background-position: -232px -118px;
}
.print-offer-wrap .print-button{
    width: 130px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}
.print-offer-wrap .print-button a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 14px;
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color:#292929;
    outline: none;
}
.print-offer-wrap .print-button span.icon{
    background: url(../images/sprite-rewards.png) no-repeat -233px -147px;
    float: left;
    width: 20px;
    height: 18px;
    text-indent: -9999px;
    overflow: hidden;
    margin-right: 10px;
}
.result-holder.add01{padding: 0 0 58px;}
.video-wrapper .company-logo-wrap{
    margin:-4px 0 74px;
}
.information-detail-wrap.add01{
    overflow: hidden;
    margin: 0 0 52px;
}
.information-wrapper .contact-wrap.add01{width: 275px;}
.features-bubbles-wrap{
    background: #efefef;
    padding: 109px 0 88px;
    margin: 0 0 99px;
}
.features-bubbles-wrap .bubbles-list{
    margin: 0;
    padding: 0 9.2233%;
    list-style: none;
    overflow: hidden;
}
.features-bubbles-wrap .bubbles-list li{
    float: left;
    width: 100px;
    margin: 0 4.038004%;
}
.features-bubbles-wrap .bubbles-list li span.icon{
    width: 80px;
    height: 80px;
    background: #d91e26;
    border-radius: 50%;
    display: block;
    margin: 0 auto 28px;
    text-indent: -9999px;
    overflow: hidden;
}
.features-bubbles-wrap .bubbles-list li a{
    outline: none;
}
.features-bubbles-wrap .bubbles-list li.leading span.icon{
    background:#d91e26 url(../images/sprite-rewards.png) no-repeat 3px -230px;
}
.features-bubbles-wrap .bubbles-list li.cup span.icon{
    background:#d91e26 url(../images/sprite-rewards.png) no-repeat -78px -229px;
}
.features-bubbles-wrap .bubbles-list li.user span.icon{
    background:#d91e26 url(../images/sprite-rewards.png) no-repeat -164px -230px;
}
.features-bubbles-wrap .bubbles-list li.message span.icon{
    background:#d91e26 url(../images/sprite-rewards.png) no-repeat -239px -226px;
}
.features-bubbles-wrap .bubbles-list li.megaphone span.icon{
    background:#d91e26 url(../images/sprite-rewards.png) no-repeat -322px -227px;
}
.features-bubbles-wrap .bubbles-list li span.text{
    display: block;
    color: #4d4d4d;
    text-align: center;
    font: 15px/19px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
.modal .modal-body{
    border: none;
}

#submitBusiness .modal-dialog,
#clubContact .modal-dialog{
    width: 530px;
}
#submitBusiness .modal-header,
#clubContact .modal-header{
    padding:33px 29px 34px ;
}
#submitBusiness .modal-footer,
#clubContact .modal-footer{
    padding:11px 22px 21px;
}
#submitBusiness .modal-body,
#clubContact .modal-body{
    padding: 0 20px 0 26px;
    margin: 0;
}
#submitBusiness .input-holder,
#clubContact .input-holder{
    overflow: hidden;
    margin: 0 0 17px;
}
#submitBusiness label,
#clubContact label{
    float: left;
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    width: 150px;
    margin: 2px 5px 0 0;
    color: #323d45;
}
#submitBusiness input,
#clubContact input{
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    outline: none;
    width: 322px;
    height: 42px;
    padding: 11px 23px;
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
#submitBusiness textarea,
#clubContact textarea{
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 322px;
    height: 111px;
    padding: 11px 23px;
    font: 14px/18px 'Conv_HelveticaNeueLTStdBd', sans-serif;
}
#submitBusiness textarea#street,
#clubContact textarea#street{
    height: 66px;
}
.partner-wrap .contact-wrap{
    display: block;
    width: 394px;
    height: 50px;
    border-radius: 8px;
    background:#d91e26;
    font:normal 20px/50px 'Conv_HelveticaNeueLTStdBd', sans-serif;
    color: #fff;
    margin: 78px auto 0;
    position: relative;
    top: 5px;
    right: 4px;
}
.partner-wrap .contact-wrap a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.social_menu_sld_01{top: 425px; width: 45px; right:0;}
.social_menu_sld_01 li a img{opacity: 0.2;}
li.left-rounded.box-whte{background: none; padding: 0;}














@media screen and (max-width: 1100px){
    .notification-list .company-detail-block{width: 80%;}
    .social_menu_sld_01{right: 0; width: 33px;}
}
@media screen and (max-width: 1059px){
    .result-holder .result-item-list li{
        width: 216px;
        display: inline-block;
        vertical-align: top;
        float: none;
    }
    .result-holder .result-item-list li .img-wrap a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .result-holder .result-item-list li .img-wrap img{
        display: block;
        width: 100% !important;
        height: auto;
    }
    .result-holder .result-item-list li .img-wrap img.price {
        width: 76px !important;
        height: 85px !important;
    }
    .result-heading .total-result{width: 26%;}
    .features-bubbles-wrap .bubbles-list{padding: 0 5.223%;}
}




@media screen and (max-width: 1029px){
    .advanced-search-content{
        left: 0;
        margin: 0 auto;
    }
    .search-result-wrapper{
        padding: 24px 20px 60px;
    }
    .joining-local-club-wrap{
        padding:53px 0 60px;
        margin: 0 0 100px;
    }
    .notification-list .company-detail-holder{width: 86%;}
    .table-wrap .delete{margin: 5px 8px 0 10px;}
    .head-right-acount-detail{width: 180px;}
    .search-wrapper-header{
        width: 492px;
        margin: 0;
    }
    .h-left{padding-right: 0;}
    .rewards-club-logos-wrap{width: 230px;}
    .main-rewards-club-logo-here{
        padding: 0 5px 0 2px;
        width: 157px;
    }
}
@media screen and (max-width:980px){
    .advanced-search-content{
        top: 65px;
    }
    .local-clubs-holder .owl-carousel .owl-controls{
        top: 50px;
    }
    .search-clubs-wrap h3{
        margin: 0 0 20px;
    }
    .search-clubs-wrap{
        padding: 51px 15px;
    }
    #featureCarousel .item img{
        height: auto !important;
    }
    .discount-featured-wrap{margin-bottom: 20px;}
    .video-wrapper .video-holder{
        right: 0;
    }
    .video-wrapper strong.title,
    .joining-local-club-wrap h3{
        font-size: 24px;
        line-height: 28px;
    }
    .search-inner-holder input[type="text"]{
        font-size: 16px;
        padding: 13px 15px;
    }
    .search-option-wrap .option-wrap label{
        font-size: 12px;
        line-height: 16px;
        width: 33%;
    }
    .search-option-wrap .option-wrap a.selectBox{width: 67% !important;}
    .search-result-list .result-title-wrap strong{
        font-size: 16px;
        line-height: 20px;
    }
    .search-result-list .result-title-wrap{width: 65%;}
    .result-contact-info-wrap{
        font-size: 12px;
        line-height: 16px;
    }
    .pagination-wrap nav{
        margin: 0;
    }
    .pagination-wrap ul.pagination,
    .pagination-wrap nav{width: 238px;}
    .pagination-wrap ul.pagination li{margin: 0 0 0 15px;}
    .pagination-items-option-wrap label,
    .pagination-items-option-wrap .margin_right_wrp_bxt_itm{
        font-size: 12px;
    }
    .pagination-items-option-wrap{width: 184px;}
    .notification-list .company-detail-block{width:70%;}
    .notification-list .company-detail-holder{width: 84%;}
    .notification-list .company-detail-block .company-name{
        font-size: 18px;
        line-height: 22px;
    }
    .notification-list .detail-info{
        font-size: 12px;
        line-height: 14px;
    }
    ul.events-news-list .events-news-detail{
        margin: 0 0 0 2%;
        width: 82%;
    }
    .table-wrap .fifth{width: 125px;}
    .contact-detail-inner-wrap{padding: 32px 20px;}
    .contact-detail-wrap ul.contact-list li{padding: 9px 0 9px 30px;}
    .contact-detail-wrap ul.contact-list li address{width: 250px;}
    .result-heading .total-result,
    .sorting-options-wrap{
        width: 50%;
        margin: 0 0 10px;
        overflow: hidden;
    }
    .result-heading .sort-by-wrap{
        float: left;
    }
    .result-holder .result-item-list{width: 100%; text-align: center;}
    .result-holder .result-item-list li{
        width: 30%;
    }
    .result-holder .result-item-list .info-wrap span{
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }
    .left-column-wrapper .category-list li strong,
    body .check-label p{
        width: 112px;
        font-size: 12px;
    }
    .left-column-wrapper button{
        height: 30px;
        font-size: 16px;
        line-height: 20px;
    }
    .features-bubbles-wrap .bubbles-list{
        padding: 0 3%;
        text-align: center;
    }
    .features-bubbles-wrap .bubbles-list li{
        margin: 0 2% 15px;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .social_menu_sld_01{top: 300px;}
    .notification-list .company-logo{margin: 0 1% 0 0;}
    .notification-list li input[type="checkbox"] + label span{margin: 0 0.5% 0 0;}
}







@media screen and (max-width:767px){
    .social_menu_sld_01{top: 150px; width: 34px;}
    .search-wrapper,
    .local-clubs-wrap,
    .discount-wrap,
    .feature-wrapper{
        float: none;
        display: block;
        width: 100%;
        margin: 0;
    }
    .search-clubs-wrap{padding: 24px 15px 23px;}
    .search-clubs-wrap h3{
        font-size: 15px !important;
        line-height: 19px !important;
        margin: 0 0 11px;
    }
    .advanced-search.add{
        margin: 0 0 25px;
    }
    .advanced-search.add img{
        height: auto;
        min-height:190px;
    }
    .advanced-search-content{
        width: 100%;
        padding: 0 15px;
        top: 35px;
    }
    .advanced-search-content input[type="text"]{
        font-size: 10px;
        line-height: 12px;
        padding: 9px 12px;
    }
    .advanced-search-content .form-wrap{margin: 0 0 10px;}
    .advanced-search-content .select-wrap{
        float: none;
        display: block;
        width: 100%;
        margin:0 0 15px;
    }
    .advanced-search-content .select-wrap:after{
        content: '';
        display: block;
        clear: both;
    }
    .select-wrap .selectBox-dropdown .selectBox-label{
        font-size: 10px;
        line-height: 14px;
        padding: 10px 15px;
    }
    .select-wrap .selectBox-dropdown{height: 30px;}
    .owl-controls .owl-nav div{
        width: 5px;
        height: 8px;
    }
    .owl-controls .owl-nav div.owl-prev{
        background: url(../images/sprite-rewards.png) no-repeat -108px -21px;
    }
    .owl-controls .owl-nav div.owl-next{
        background: url(../images/sprite-rewards.png) no-repeat -117px -21px;
        margin-left: 9px;
    }
    .discount-holder .owl-carousel .owl-controls{top: -30px; right: 2px;}
    .advanced-search .select-wrap .selectBox-arrow{
        top: 10px;
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
        transform:rotate(-90deg);
        right: 9px;
    }
    .advanced-search-content .search-button{
        float: none;
        display: block;
        width: 100%;
        margin: 0;
        height: 30px;
        font-size: 10px;
        line-height: 30px;
        border-radius: 3px;
    }
    .local-clubs-holder{padding: 10px;}
    .local-clubs-holder .info-wrap{
        padding: 11px 14px 9px;
    }
    .local-clubs-holder strong.title,
    .discount-featured-wrap strong.title{
        font-size: 10px;
        line-height: 12px;
    }
    .local-clubs-holder span.location,
    .discount-featured-wrap span.location{
        font-size: 8px;
        line-height: 12px;
    }
    .discount-featured-wrap h3{
        font-size: 15px !important;
        line-height: 19px !important;
        padding: 0 0 1px;
    }
    .discount-featured-wrap .info-wrap{padding: 9px 0;}
    .discount-wrap .discount-holder{padding:15px 0 10px;}
    div.featured-deals-holder .owl-carousel .owl-stage-outer{padding-top: 14px;}
    #featureCarousel.owl-carousel .owl-controls{top: -16px;}
    span.prc_btm_01{top: 4px;}
    .local-clubs-holder span.like-wrap{
        background-position: -151px -26px;
        width: 17px;
        height: 14px;
        margin: 6px -2px 0;
    }
    div.featured-deals-holder #featureCarousel .item img.price{
        width: 45px;
        height: 50px;
        top: -5px;
        right: 10px;
    }
    body span.prc_btm_01{
        font-size: 10px;
        line-height: 10px;
        width: 40px;
    }
    .media-block.add{
        padding: 24px 15px;
    }
    .media-block .owl-carousel .owl-controls{top: -29px;}
    .featured-club-news-holder.add h3{
        font-size: 15px !important;
        line-height: 19px !important;
        margin-bottom: 10px;
    }
    .media-block.add .club-news .info{
        padding:6px 7px;
        font-size: 6px;
        line-height: 8px;
    }
    .media-block .featured-club-news-holder.add .club-news .info{
        border-width: 0 2px 2px;
    }
    .media-block .club-news .info span{
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 3px;
        padding: 0;
    }
    .media-block .club-news .info h4{
        font-size: 9px;
        line-height: 12px;
    }
    .media-block.add .club-news .info .btn{
        width: calc(100%);
        height: 15px !important;
        font-size: 8px !important;
        line-height: 15px !important;
    }
    .breadcrumb-wrap{margin: 0 0 25px;}
    .joining-local-club-wrap{
        padding: 20px 0;
    }
    .video-wrapper strong.title, 
    .joining-local-club-wrap h3{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
        padding: 0 0 15px;
    }
    .breadcrumb-wrap{margin: 0 0 10px;}
    .video-wrapper .video-holder{
        width: 100%;
        max-width: 450px;
        margin: 0 auto 25px;
    }
    .information-wrapper .contact-wrap{margin: 0 auto 25px;}
    .information-wrapper{padding: 0;}
    .club-search-wrap,
    .club-result-wrap{
        float: none;
        width: 100%;
        display: block;
        margin: 0;
    }
    .club-search-wrap h4{
        font-size: 16px;
        line-height: 20px;
        padding: 12px;
    }
    .search-inner-holder .title{margin-bottom:15px; }
    .club-result-wrap strong.club-result{
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
    }
    .search-inner-holder button[type="submit"]{margin: 0 auto;}
    .joining-local-club-wrap,
    .joining-local-club-wrap.add{
        padding: 30px 0 ;
        margin: 0 0 50px;
    }
    .search-result-wrapper,
    .search-result-wrapper.add{
        padding: 10px 10px 50px;
    }
    .search-inner-holder input[type="text"]{
        padding: 5px 15px;
    }
    .search-inner-holder{
        padding: 15px;
    }
    .search-inner-holder button[type="submit"]{
        font-size: 16px;
        line-height: 30px;
        height: 30px;
    }
    .search-result-list .image-wrap,
    .search-result-list .result-detail-wrap{
        float: none;
        display: block;
        width: 100%;
        margin: 0 auto;
        max-width: 320px;
    }
    .search-result-list .result-detail-wrap{
        max-width: 100%;
    }
    .search-result-list .result-title-wrap{
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 15px;
    }
    .search-result-list .result-detail-heading .search-option{
        float: none;
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    .result-contact-info-wrap{
        padding: 12px;
        font-size: 12px;
        line-height: 20px;
    }
    #inner-slider:before{top: -16px;}
    .inner-slider-wrapper .owl-carousel .owl-controls{top: -30px;}
    .result-contact-info-wrap .address,
    .result-contact-info-wrap .contact-number-wrap .number-wrap, 
    .result-contact-info-wrap .contact-number-wrap .fax-no-wrap{margin: 0 0 8px;}
    .result-contact-info-wrap .contact-number-wrap .number-wrap,
    .result-contact-info-wrap .contact-number-wrap .fax-no-wrap{
        display: block;
        width: 100%;
        float: none;
    }
    .pagination-wrap ul.pagination, 
    .pagination-wrap nav,
    .pagination-items-option-wrap{
        float: none;
        margin: 0 auto;
        display: block;
        overflow: hidden;
    }
    .pagination-wrap ul.pagination{margin-bottom: 20px;}
    .inner-holder{
        padding: 49px 3%;
    }
    .detail-info-block .left-info-block,
    .detail-info-block .right-info-block{
        float: none;
        display: block;
        width: 100%;
    }
    ul.facilities{margin: 0 0 10px;}
    .detail-contact-wrap ul.contact-list li span{left: 0;}
    ul.events-news-list li{
        padding: 15px 2% 26px;
    }
    .inner-holder .owl-controls .owl-prev, 
    .inner-holder .owl-controls .owl-next{
        left: -22px;
    }
    .inner-holder .owl-controls .owl-next{right: -22px; left: auto;}
    .inner-content .heading h3{
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 25px;
        text-align: center;
    }
    .inner-content .view-website{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .inner-content{
        padding: 20px 0 0;
    }
    .inner-content .heading{margin: 0 0 20px;}
    .inner-content .description-block{margin: 0;}
    #owl-myClub{padding: 0 0 22px;}
    .myclub-wrap .info-wrap{padding: 15px 0 0;}
    .myclub-wrap strong.title{
        font-size: 12px;
        line-height: 14px;
    }
    .myclub-wrap span.location{
        font-size: 10px;
        line-height: 12px;
    }
    .inner-holder{
        padding: 5px;
    }
    ul.facilities li,
    .detail-contact-wrap ul.contact-list li{
        font-size: 12px;
        line-height: 16px;
    }
    .detail-contact-wrap ul.contact-list li{
        padding: 5px 0 5px 30px;
    }
    .detail-contact-wrap ul.contact-list li.mail span{top: 6px;}
    ul.facilities li:before{top: 4px;}
    .detail-contact-wrap ul.contact-list li.email span{top: 4px;}
    .detail-contact-wrap ul.contact-list li.phone-no span{top: 6px;}
    .detail-contact-wrap ul.contact-list li.location span{top: 2px;}
    ul.events-news-list .calendar-icon,
    ul.events-news-list span.date,
    ul.events-news-list span.month{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    ul.events-news-list span.month{margin: 0 0 0 5px;}
    .contact-detail-wrap ul.contact-list{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 0; /* Chrome, Safari, Opera */
        -moz-column-gap: 0; /* Firefox */
        column-gap: 0;
    }
    .contact-detail-inner-wrap{
        padding: 20px 5%;
    }
    .two-columns-wrapper .left-column-wrapper{
        display: none;
    }
    .two-columns-wrapper .right-column-wrapper{
        float: none;
        display: block;
        width: 100%;
    }
    .result-heading .total-result{
        font-size: 12px;
        line-height: 16px;
    }
    .result-heading .sorting-list li{
        font-size: 10px;
        line-height: 16px;
        margin: 0 5px 0 0;
    }
    .result-heading .sorting-list li a{padding: 3px 0 0 6px;}
    .result-heading .sorting-list li span.icon,
    button.btn-grid,
    button.btn-list,
    button.btn-map{
        background: #f0f0f0 url(../images/sprite-rewards.png) no-repeat scroll -117px -71px;
        width: 24px;
        height: 22px;
        border-radius: 2px;
    }
    .result-heading .sorting-list li.grid span.icon,
    button.btn-grid{background: #f0f0f0 url(../images/sprite-rewards.png) -118px -140px;}

    .result-heading .sorting-list li.list span.icon,
    button.btn-list{background: #f0f0f0 url(../images/sprite-rewards.png) -150px -139px;}

    .result-heading .sorting-list li.map span.icon,
    button.btn-map{background: #f0f0f0 url(../images/sprite-rewards.png)-176px -138px;}

    .result-heading .sorting-list li:hover.grid span.icon,
    .result-heading .sorting-list li.active.grid span.icon,
    button.btn-grid.active, button.btn-grid:hover{background: #f0f0f0 url(../images/sprite-rewards.png) -119px -164px;}

    .result-heading .sorting-list li:hover.list span.icon,
    .result-heading .sorting-list li.active.list span.icon,
    button.btn-list.active, button.btn-list:hover{background: #f0f0f0 url(../images/sprite-rewards.png) -149px -163px;}

    .result-heading .sorting-list li:hover.map span.icon,
    .result-heading .sorting-list li.active.map span.icon,
    button.btn-map.active, button.btn-map:hover{background: #f0f0f0 url(../images/sprite-rewards.png)-176px -163px;}
    .result-heading .sort-by-wrap{
        float: none;
        display: block;
        width: 100%;
    }
    .result-heading .total-result{width: 40%;}
    .sorting-options-wrap{width:60%;}
    .result-heading .sort-by-wrap{
        max-width: 320px;
        margin: 0 auto;
        clear: both;
    }
    .result-heading .sort-by-wrap a.selectBox-dropdown{width: 69% !important;}
    .result-text{
        font-size: 9px;
        line-height: 12px;
    }
    .result-holder .result-item-list li{
        width: 46%;
        margin: 0 6px 15px 0;
        float: none;
    }
    .result-holder .result-item-list .info-wrap span{
        font-size: 12px;
        line-height: 16px;
    }
    .result-holder .result-item-list li .img-wrap img.price{
        width: 46px !important;
        height: auto !important;
        top: -6px;
        right: 4px;
    }
    .result-holder .result-item-list span.prc-text{
        width: 35px;
        font-size: 10px;
        line-height: 12px;
    }
    .result-heading .total-result{padding: 2px 0 0;}
    .result-heading .sort-by-wrap label,
    .result-heading .sort-by-wrap .selectBox-dropdown{
        font-size: 12px;
        line-height: 16px;
    }
    .result-holder{padding: 0 0 35px;}
    .two-columns-wrapper{padding: 0 0 70px;}
    .inner-slider-wrapper.add01{margin: 0 auto 61px;}
    .result-list-view .image-wrap,
    .result-list-view .result-info-block,
    .result-list-button-holder .view-website,
    .result-list-button-holder .condition-wrap{
        float: none;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .result-list-view .result-info-block,
    .result-list-button-holder .condition-wrap{
        width: 100%;
        text-align: center;
    }
    .result-list-view .result-info-block .discount-text{
        font-size: 20px;
        line-height: 24px;
    }
    .result-list-view .result-info-block .subtitle{
        font-size: 16px;
        line-height: 20px;
    }
    .result-list-view .result-info-block .price{
        font-size: 30px;
        line-height: 34px;
    }
    .features-bubbles-wrap .bubbles-list{padding: 0;}
    .features-bubbles-wrap .bubbles-list li span.text{
        font-size: 12px;
        line-height: 16px;
    }
    .features-bubbles-wrap .bubbles-list li span.icon{margin: 0 auto 10px;}
    .features-bubbles-wrap{padding: 50px 0;}
    div.local-search.club div.form-group label.lbl_cls{
        position: relative;
    }
    body div.local-search.club div.form-group{padding-left: 0;}
    body div.local-search.club .form-control{height: 30px;}
    /*popup*/
    #submitBusiness .modal-dialog,
    #clubContact .modal-dialog{
        width: 80%;
        margin: 20px auto;
    }
    #submitBusiness .modal-header,
    #clubContact .modal-header{
        padding:33px 5.47169%;
    }
    .modal .modal-header h4{
        font-size: 22px;
        line-height: 26px;
    }
    #submitBusiness .modal-body,
    #clubContact .modal-body{
        padding: 0 3.7735% 0 4.90566%;
    }
    #submitBusiness .modal-footer,
    #clubContact .modal-footer{
        padding: 11px 4.15094%;
    }
    #submitBusiness label,
    #clubContact label{
        width: 31.38075%;
        margin: 0 1.046% 0 0;
    }
    #submitBusiness input,
    #submitBusiness textarea,
    #clubContact input,
    #clubContact textarea{
        width: 67.364016%;
    }
    .main-rewards-club-logo-here {
        margin: 0 auto;    padding: 0;    text-align: center;    width: 77px;}
    .rewards-club-logos-wrap{
        width: 77px;
    }
    .rewards-club-logos-wrap .associate-logo{display: none;}
    .head-right-acount-detail{width: 180px;}
    .account-detail strong{font-size: 9px; line-height: 11px; display: inline; border-right: 1px solid #ccc;}
    .account-detail-holder{display: none;}
    ul.events-news-list .events-date-wrap,
    ul.events-news-list .events-news-detail{
        float: none;
        display: block;
        margin: 0;
        width: 100%;
    }
    .table-wrap .delete{margin: 5px 4px 0;}
    .block-heading{padding: 15px 0 0;}
}
@media screen and (max-width:485px){
    .choices-wrap{position: relative;}
    .choices-wrap ul.choices-list{
        width: 60%;
    }
    .choices-wrap ul.choices-list li{
        float: none;
        display: block;
        width: 100%;
        border: none;
        padding: 0;
        margin: 4px 0;
    }
    .choices-wrap .recycle-block{
        position: absolute;
        top: 50%;
        right: 0;
        margin: -19px 0 0;
    }
    .choices-wrap .recycle-block:before{
        content:'';
        position: absolute;
        margin:-22px 0;
        padding: 50px 0;
        width: 1px;
        height: 100%;
        background: #999;
    }
    .notification-list li,
    .notification-list .detail-info p{text-align: center;}
    .notification-list li label,
    .notification-list .company-detail-block,
    .notification-list .company-detail-holder{
        display: block;
        width: 100%;
    }
    .notification-list li input[type="checkbox"] + label span,
    .notification-list .company-logo{
        display: block;
        margin: 0 auto 15px;
    }
    .profile-info-wrap .image-wrap{
        float: none;
        display: block;
        margin: 0 auto 25px;
        width: 60%;
        max-width: 320px;
    }
    .profile-info-wrap .profile-description-wrap{
        float: none;
        display: block;
        width: 100%;
    }
    .block-heading h3{
        padding: 0 0 10px;
        margin: 4px 0 25px;
    }
    .block-heading .add-wrap{
        position: relative;
        display: block;
        width: 50%;
        margin: 0 auto 25px;
    }
    .profile-info-wrap .descrip-wrap,
    .contact-detail-wrap ul.contact-list{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 0; /* Chrome, Safari, Opera */
        -moz-column-gap: 0; /* Firefox */
        column-gap: 0;
    }
    .profile-info-wrap{padding: 0 0 35px;}
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 10px;
        left: 6px;
        width: 30%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    /*
    Label the data
    */
    .table-wrap td{min-height: 50px;}
    td:nth-of-type(1):before { content: "#"; }
    td:nth-of-type(2):before { content: "Title"; }
    td:nth-of-type(3):before { content: "Title"; }
    td:nth-of-type(4):before { content: "Title"; }
    td:nth-of-type(5):before { content: ""; }
    .table-wrap .first,
    .table-wrap .second,
    .table-wrap .third,
    .table-wrap .fourth,
    .participant-wrap .fifth,
    .participant-wrap .first,
    .participant-wrap .second,
    .participant-wrap .third,
    .participant-wrap .fourth{
        width: 100%;
        text-align: left;
        padding: 10px 10px 10px 60px;
        min-height: 50px;
    }
    .participant-wrap .fifth,
    .participant-wrap .first,
    .participant-wrap .second,
    .participant-wrap .third,
    .participant-wrap .fourth{padding-left: 106px;}
    .contact-detail-wrap ul.contact-list li{
        padding:9px 0 9px 30px;
        font-size: 12px;
    }
    .contact-detail-wrap ul.contact-list li address{
        width: 180px;
    }
    .contact-left-block,
    .contact-right-block{
        float: none;
        width: 100%;
        display: block;
        margin: 0 0 15px;
    }
    .contact-information-wrap{padding: 0 0 45px;}
    .partner-holder{
        padding: 5px 0 0;
    }
    .partner-wrap{
        padding: 0 15px 40px;
    }
    .partner-wrap h3{
        margin: 0 0 15px;
    }
    .partner-wrap .owl-controls{top: -38px;}
    .participant-wrap td:nth-of-type(1):before { content: "#"; }
    .participant-wrap td:nth-of-type(2):before { content: "Suburb"; }
    .participant-wrap td:nth-of-type(3):before { content: "Address"; }
    .participant-wrap td:nth-of-type(4):before { content: "Phone Number"; }
    #submitBusiness .modal-dialog,
    #clubContact .modal-dialog{
        width: 100%;
    }
    #submitBusiness label,
    #submitBusiness input, 
    #submitBusiness textarea,
    #clubContact label,
    #clubContact input, 
    #clubContact textarea{
        float: none;
        display: block;
        width: 100%;
    }
    #submitBusiness label,
    #clubContact label{margin: 0 0 5px;}
}