@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.ac-custom ul,
.ac-custom ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.club-form-enquiry-product-label-holder{ position:absolute; bottom:0; background:rgba(255,255,255,0.8); padding:0 20px; width:100%; height:56px; 
-moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.1);/*FF 3.5+*/
-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0px -1px 2px rgba(0,0,0,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */}
div.club-form-enquiry-product-label-holder .custom-checkbox-big-holder{ margin-top:10px;}
.custom-checkbox-big-holder {
  display: block;
  padding: 10px 0;}
.custom-checkbox-big-holder label{
	display: inline-block;
	padding: 0 0 0 26px;
	color: rgba(0,0,0,0.2);
	cursor: pointer;
	width:100%; margin-bottom:0; height:38px; line-height:38px;}
.custom-checkbox-big-holder label P { width:100%; margin-bottom:0;}
.custom-checkbox-big-holder{  width: 100%;}
input[type="checkbox"]{ display:none;}
.custom-checkbox-big-holder input[type="checkbox"],
.custom-checkbox-big-holder .check_box_big::before {
	border: 4px solid #000;
    border-radius: 4px;
    cursor: pointer;
    height: 38px;
     left:-25px;
    margin-top: 0;
    position: absolute;
    top:0;
    width: 38px;
}

.custom-checkbox-big-holder input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

/*.custom-checkbox-holder-big label::before {
	content: '';
	border: 4px solid #fff;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
*/
.check_box_big::before{content: '';
	border: 4px solid #00;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;}
.custom-checkbox-big-holder input[type="checkbox"]:checked + .check_box_big,  {
	color: #000;
} 
.custom-checkbox-big-holder  input[type="checkbox"]:checked + .check_box_big::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom svg {
	height: 25px;
  left: 4px;
  margin-top: 0;
  pointer-events: none;
  position: absolute;
  top:7px;
  width: 25px;
}
div.club-form-enquiry-product-label-holder label p{ line-height:38px;}

.ac-custom svg path {
	stroke: #000;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */

/* Media Queries */
