#nav, #nav ul {
	background-color: #8899AA;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#nav {
	display: block;
	padding: 5px;
	position: relative;
	width: 112px;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	-webkit-perspective: 200px;
	-o-perspective: 200px;
	perspective: 200px;
}
#nav ul {
	left: -9999px;
	opacity: 0;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	top: -9999px;
	-moz-transform: rotateY(70deg);
	-ms-transform: rotateY(70deg);
	-o-transform: rotateY(70deg);
	-webkit-transform: rotateY(70deg);
	transform: rotateY(70deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-moz-transition: -moz-transform 0.3s linear, opacity 0.3s linear;
	-ms-transition: -ms-transform 0.3s linear, opacity 0.3s linear;
	-o-transition: -o-transform 0.3s linear, opacity 0.3s linear;
	-webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s linear;
	transition: transform 0.3s linear, opacity 0.3s linear;
}
#nav li {
	background-color: #FFFFFF;
	position: relative;
}
#nav > li {
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#nav li a {
	background-color: #ffffff;
	border-top: #e5e5e5 1px solid;
	border-bottom: #e5e5e5 1px solid;
	color: #4d4d4d;
	display: block;
	font-size: 15px;
	padding: 8px 10px 8px 5px;
	text-decoration: none;
	width: 95px;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#nav ul li:hover > a, #nav ul li:active > a {
	background-color: #8899AA;
	border-top: #e5e5e5 1px solid;
	border-bottom: #e5e5e5 1px solid;
	color: #FFFFFF;
}
#nav li:hover > a, #nav li:active > a {
	background-color: #8899AA;
	border-top: #e5e5e5 1px solid;
	border-bottom: #e5e5e5 1px solid;
	color: #FFFFFF;
}
#nav li:hover ul.subs {
	left: 114px;
	opacity: 1;
	top: 0;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
#nav ul li {
	width: 100%;
}

/* colors */
