@charset "utf-8";
div.joinus form, footer .joinus span.social {
	overflow: hidden
}
.clearfix, .form-group, .form-input-holder_01, a.btn-addto-cart, div.button-holder, footer h4 {
	clear: both
}
body p {
	text-align: left
}
.media-block .club-news .info {
	min-height: 192px
}
.media-block .club-news .info p {
	margin-bottom: 0;
	line-height: normal
}
div.container {
	margin: 0 auto
}
button, input {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0;
	margin: 0
}
div.joinus h4 {
	margin-top: 14px
}
.media-block div.featured-club-news-holder div.club-news .btn-danger {
	height: 26px;
	line-height: 26px;
	padding: 0 5px
}
div.feedback .btn-danger {
	background-color: #c52f38;
	height: 41px;
	line-height: 41px;
	padding: 0 12px
}
#mainBannerSlider {
	margin-bottom: 40px
}
div.item {
	position: relative
}
div.banner-caption {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 45px
}
div.banner-caption-inner {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
div.caption-box {
	width: 463px;
	height: 263px;
	background-color: #fff;
	padding: 24px;
	position:relative;
}
div.caption-box h3 {
	color: #c62f38
}
div.caption-box span.expire-date-offer {
	color: #9d9d9d;
	font-size: 14px;
	display: block;
/*	margin-bottom: 20px*/
}
div.caption-box p {
	color: #4d4d4d;
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 28px;
	font-family: helveticabold
}
div.caption-box:after {
	content: '';
	position: absolute;
	right: -20px;
	bottom: 20px;
	width: 0;
	height: 0;
	display: inline-block;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #fff;
	border-top: 25px solid transparent
}
#mainBannerSlider div.owl-controls {
	position: absolute;
	left: -33px;
	bottom: 81px;
	top: inherit;
	width: 300px;
	margin: 0 auto
}
#mainBannerSlider div.owl-controls div.owl-nav, div.custom-checkbox-big-holder {
	position: relative
}
div.button-holder a {
	display: block;
	float: left;
	margin-right: 5px;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	font-family: helveticabold;
	background-color: #c52f38;
	height: 41px;
	line-height: 41px;
	width: 153px;
	text-align: center
}
body .btn.dropdown-toggle, div.button-holder a {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
div.button-holder a:first-child {
	background-color: #c3c3c3
}
#feedbackCarousel {
	min-height: 239px
}
footer div.feedback .btn-danger {
	max-width: 191px;
	width: 100%
}
body span.prc_btm_01 {
	width: 107px
}
.header .search .selectBox-dropdown {
	height: 57px
}
.advanced-search .form-control {
	width: 100%
}
.header div.category, .header div.region {
	width: 227px
}
form a.selectBox {
	width: 100%!important
}
.embed-responsive.embed-responsive-16by9 {
	height: 281px
}
#information-for-member-right-video-holder .embed-responsive.embed-responsive-16by9 {
	height: 340px
}
.form-input-holder_01 {
	position: relative
}
div.club-form div.form-input-holder_01 label.error {
	width: 100%;
	padding: 0 15px;
	line-height: 37px;
	text-align: right
}
div.addrating {
	line-height: 38px
}
#certify_review-error {
	color: #c9302c;
	font-size: 12px;
	letter-spacing: .8px;
	padding: 10px 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 15px
}
div.with_resuld_board>div {
	height: 100%
}
body .btn.dropdown-toggle {
	background-color: #f0f0f0;
	width: 80px;
	height: 33px;
	padding: 0;
	border-radius: 2px;
	text-align: left
}
body .btn.dropdown-toggle span {
	display: inline-block;
	float: left;
	height: 33px;
	line-height: 33px;
	width: 39px;
	text-align: center
}
.icon-arrow-down-small-grey {
	width: 39px;
	height: 33px;
	background: url(../images/icon-arrow-down-small-grey.png) center center no-repeat;
	display: inline-block;
	border-left: 1px solid #e5e5e5
}
div.deal-lists-holder {
	margin-bottom: 25px
}
div.list-pagination-holder {
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center
}
#navbar-collapse ul li a{ height:100%;}
div.club-form-enquiry-product-holder {
	margin-bottom: 25px
}
.header div.button-search .btn {
	width: 100%
}
span.list-result-title {
	display: block;
	margin-bottom: 20px;
	margin-top: 13px
}
div.members-lists-holder div.whit_box h4 {
	margin-left: 0;
	padding-bottom: 10px
}
span.map-location {
	display: inline-block;
	background: url(../images/icon-map-small-darkgrey.png) no-repeat;
	padding-left: 17px;
	margin-right: 20px
}
span.contact-number {
	display: inline-block;
	background: url(../images/icon-phone-small-darkgrey.png) no-repeat;
	padding-left: 19px
}
body ul.pagination {
	margin: 0
}
body ul.pagination li {
	margin-right: 10px;
	float: left;
	border: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
ul.pagination li a {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: none;
	color: #4d4d4d;
	font-weight: 700
}
ul.pagination li.prev a {
	background: url(../images/icon-pagination-prev-arrow.png) center center no-repeat #f0f0f0;
	border-radius: 2px
}
ul.pagination li.next a, ul.pagination li.prev a {
	width: 36px;
	height: 33px;
	text-indent: -999em;
	display: inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
ul.pagination li.next a {
	background: url(../images/icon-pagination-next-arrow.png) center center no-repeat #f0f0f0;
	border-radius: 2px
}
body ul.pagination li.active {
	background: 0 0
}
ul.pagination li.active a {
	color: #c52f38;
	background: 0 0;
	border: 3px solid #f0f0f0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 4px 12px
}
div.adrs_wrp_vip ul {
	margin-top: 8px;
	padding: 0
}
div.adrs_wrp_vip ul li {
	padding-left: 28px;
	list-style: none;
	line-height: 27px
}
div.adrs_wrp_vip ul li.address {
	background: url(../images/icon-location-map-red.png) left center no-repeat
}
div.adrs_wrp_vip ul li.pobox-address {
	background: url(../images/icon-pobox-red.png) left center no-repeat;
	margin-bottom: 24px;
	line-height: 23px
}
div.adrs_wrp_vip ul li.phone-number {
	background: url(../images/icon-phone-number-red.png) left center no-repeat
}
div.adrs_wrp_vip ul li.fax-number {
	background: url(../images/icon-fax-red.png) left center no-repeat
}
div.adrs_wrp_vip ul li.email {
	background: url(../images/icon-email-red.png) left center no-repeat;
	line-height: 22px
}
div.form-main-holder {
	background-color: #f0f0f0;
	padding: 20px 15px 15px
}
.advanced-search.form-main-holder .form-control {
	margin-bottom: 0
}
div.cart-total-holder {
	background-color: #d2d2d2;
	padding: 15px;
	margin-bottom: 15px
}
div.cart-total-holder div.whit_box {
	margin-bottom: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 15px
}
div.cart-total-holder h4 {
	font-size: 18px;
	color: #4d4d4d;
	line-height: normal;
	margin-bottom: 5px;
	padding-bottom: 0
}
div.cart-total-holder h4 span {
	font-size: 18px;
	font-family: helvetica, sans-serif
}
div.cart-total-holder a {
	display: block;
	font-size: 31px;
	color: #c52e38;
	line-height: normal
}
body a.btn-continue-shopping button, body a.btn-payment button {
	font-size: 20px!important;
	font-family: helvetica, sans-serif;
	padding: 10px 20px!important;
	text-align: left
}
body a.btn-continue-shopping, body a.btn-payment {
	line-height: normal
}
body a.btn-continue-shopping button {
	color: #000
}
body a.btn-payment button {
	color: #fff
}
div.local-search.club div.form-group {
	position: relative;
	padding-left: 100px;
	margin-bottom: 6px
}
div.local-search.club div.form-group label.lbl_cls {
	position: absolute;
	left: 0
}
#contactform input.form-control, #contactform textarea.form-control {
	margin-bottom: 10px
}
button.btn-grid {
	background: url(../images/icon-grid.png) center center no-repeat #f0f0f0;
	width: 36px;
	height: 33px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}
button.btn-grid.active, button.btn-grid:hover {
	background: url(../images/icon-grid-hover.png) center center no-repeat #f0f0f0
}
button.btn-list {
	background: url(../images/icon-list.png) center center no-repeat #f0f0f0;
	border-radius: 2px
}
button.btn-list, button.btn-map {
	width: 36px;
	height: 33px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}
button.btn-list.active, button.btn-list:hover {
	background: url(../images/icon-list-hover.png) center center no-repeat #f0f0f0
}
button.btn-map {
	background: url(../images/icon-map.png) center center no-repeat #f0f0f0;
	border-radius: 2px
}
button.btn-map.active, button.btn-map:hover {
	background: url(../images/icon-map-hover.png) center center no-repeat #f0f0f0
}
div.deal-lists-holder div.local-search div.form-group, div.grid-list-holder div.local-search div.form-group {
	padding-left: 61px
}
div.deal-lists-holder div.local-search div.form-group a.selectBox, div.grid-list-holder div.local-search div.form-group a.selectBox {
	width: 50px;
	min-width: inherit;
	border-left: 1px solid #e5e5e5
}
#terms_conditions-error {
	top: 20px;
	right: 0
}
a.thumb-holder {
	display: block
}
div.grid-list-holder div.deal-info-holder div.with_resuld_board {
	height: 87px
}
a.logo {
	display: inline-block;
	min-width: 149px
}
a.logo img {
	width: 149px
}
a.btn-addto-cart {
	background-color: #c52f38;
	border-radius: 2px;
	color: #fff;
	display: block;
	float: left;
	font-family: helveticabold;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 153px;
	margin-top: 11px
}
.map-view-holder, div.deal-lists-holder, div.grid-list-holder, div.items-per-page {
	float: right
}
a.btn-addto-cart:focus {
	text-decoration: none
}
li.listing-favourite-add a {
	display: inline-block;
	height: 100%;
	line-height: 100%
}
li.listing-favourite-add span {
	display: inline-block;
	background: url(../images/icon-fav-white-medium.png) center center no-repeat;
	width: 39px;
	height: 32px
}
div.gride_view_caption h4 strong, span.rating {
	display: block
}
body .advanced-search label.error {
	right: 0;
	width: 100%
}
a.selectBox.form-control {
	padding: 0 36px 0 12px;
	line-height: 34px
}
div.header a.selectBox.form-control {
	line-height: 57px
}
a.selectBox.form-control span.selectBox-label {
	padding: 0
}
.whit_box h4.rating {
	padding-bottom: 0
}
div.sidebar-advertisement-holder {
	clear: both;
	margin-bottom: 20px
}
span.rating {
	margin-bottom: 5px
}
div.grid-list-holder div.deal-info-holder div.with_resuld_board {
	width: 100%
}
@media screen and (max-width:1600px) {
div.banner-caption {
	height: 100%;
	bottom: 10px
}
div.banner-caption-inner, div.caption-box {
	height: 100%
}
div.caption-box p {
	font-size: 20px
}
#mainBannerSlider div.owl-controls {
	bottom: 47px
}
}
@media screen and (max-width:1200px) {
h3 {
	font-size: 20px;
	line-height: 18px
}
div.button-holder a {
	height: 30px;
	line-height: 30px
}
div.caption-box p {
	font-size: 15px;
	display:block;
}
div.caption-box h3, div.caption-box span.expire-date-offer {
	margin-bottom: 5px
}
#mainBannerSlider div.owl-controls {
	display: none!important
}
div.caption-box::after {
	display: none
}
}
@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (-webkit-min-device-pixel-ratio:1) {
a.logo.pull-left {
	margin-bottom: 25px;
	text-align: center;
	width: 100%
}
a.logo.pull-left img {
	max-width: 149px
}
a.logo+div.pull-right {
	padding: 0 15px;
	width: 100%
}
.feature-service, .fetaured-video-holder, .search-featured, div.advanced-search-holder {
	margin-bottom: 50px
}
body div.banner-caption {
	position: static
}
div.caption-box {
	padding: 24px 0
}
footer .joinus span.social a {
	margin-right: 5px!important
}
button.btn, input.btn {
	vertical-align: middle;
	padding-top: 10px!important
}
span.rating {
	margin-bottom: 10px;
	display: block
}
div.button-holder a, div.header div.search form div.button-search #search-reset, div.header div.search form div.button-search input.btn {
	line-height: 35px
}
div.feedback .btn-danger {
	line-height: 46px
}
input#search-reset, input.btn.btn-danger-01 {
	line-height: 40px;
	padding: 0;
}
div.featured-club-news-holder a.btn-danger {
	font-size: 14px!important;
	height: 40px!important;
	line-height: 45px!important;
	padding: 0
}
}
@media screen and (max-width:767px) {
.header .links, a.logo.pull-left {
	text-align: center
}
.navbar-inverse .navbar-collapse ul, body .navbar-inverse .navbar-collapse ul, body .navbar-inverse .navbar-collapse ul li a {
	border: none
}
body div.padding-right-adjustment {
	padding-right: 15px
}
body div.padding-left-adjustment {
	padding-left: 15px
}
a.logo.pull-left {
	width: 100%;
	margin-bottom: 25px
}
a.logo.pull-left img {
	max-width: 149px
}
a.logo+div.pull-right {
	width: 100%;
	padding: 0 15px
}
.navbar-nav {
	margin: 0
}
div.header div.search form div.button-search, div.header div.search form div.category, div.header div.search form div.region {
	width: 33.3%;
	margin-left: 0;
	margin-bottom: 0
}
div.header div.search form div.category, div.header div.search form div.region {
	padding-right: 15px
}
a.selectBox-dropdown {
	width: 100%!important
}
.col-md-7.member-detail img {
	margin: 35px 0
}
.vdo-md-cls {
	padding-left: 0;
	margin-bottom: 0
}
ul.nav.navbar-nav li {
	width: 100%;
	max-width: inherit
}
ul.nav.navbar-nav li a {
	text-align: left
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background: 0 0;
	border: none
}
footer div.joinus, footer div.sitemap {
	margin-bottom: 25px
}
div.copyright {
	padding: 10px 0
}
.copyright a, .copyright p {
	line-height: 25px
}
.header .search .form-control {
	width: 100%
}
.header .region select.form-control {
	margin-bottom: 10px
}
body div.banner-caption {
	position: static
}
body #mainBannerSlider div.owl-controls {
	bottom: 0;
	width: 100%;
	padding: 0 15px;
	position: static;
	margin-top: 20px
}
div.main-banner {
	padding-bottom: 15px;
	background-color: #f0f0f0;
	margin-bottom: 25px
}
div.main-banner div.caption-box {
	padding: 24px 0 30px;
	background: 0 0;
	height: auto;
	width: 100%;
}
div.media-block {
	padding-bottom: 25px
}
.feature-service, .fetaured-video-holder, .search-featured, div.advanced-search-holder {
	margin-bottom: 50px
}
div.banner-caption div.caption-box::after {
	display: none
}
div.main-banner #mainBannerSlider {
	margin: 0
}
.advanced-search .form-group.location {
	padding-left: 0
}
.advanced-search .location label {
	line-height: 25px;
}
#nav li:hover ul.subs {
	position: static;
	left: 0;
	padding-left: 30px;
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	transition: all 0s ease
}
#nav li:hover ul.subs li {
	padding: 0
}
#nav li:hover ul.subs li a, #nav li:hover ul.subs li a label {
	background: 0 0
}
body .enquiry_box_wrp a img {
	padding: 15px 164px
}
div.button-holder a {
	width: 153px;
	margin-right: 5px
}
div.window_register_deal_box {
	margin-bottom: 25px
}
div.club-form-enquiry-product-holder {
	margin-bottom: 0
}
h3 {
	font-size: 18px!important;
	line-height: 14px!important
}
div.header div.search form div.button-search #search-reset, div.header div.search form div.button-search input.btn {
	padding: 0 30px;
	display: block;
	height: 30px
}
body .vdo-md-cls {
	padding: 0 15px
}
body #navbar-collapse {
	padding: 0
}
div.deal-lists-holder div.local-search, div.view_as_grid, ul.deal_page_map {
	margin-bottom: 15px;
	float: none;
	overflow: hidden
}
#advancesearch #search-reset {
	margin-bottom: 15px
}
footer .joinus span.social a {
	margin-right: 10px
}
body ul.pagination {
	display: block;
	width: 100%;
	text-align: center
}
body div.items-per-page {
	float: none;
	margin-top: 15px
}
div.button-holder a, div.header div.search form div.button-search #search-reset, div.header div.search form div.button-search input.btn {
	line-height: 35px
}
div.feedback .btn-danger {
	line-height: 46px
}
input#search-reset, input.btn.btn-danger-01 {
	line-height:30px;
	padding: 0;
	height: 40px
}
div.featured-club-news-holder a.btn-danger {
	font-size: 14px!important;
	height: 40px!important;
	line-height: 45px!important;	padding: 0
}
body .twitter .twit {
	line-height: 25px
}
}
@media screen and (max-width:600px) {
div.header div.search form div.button-search, div.header div.search form div.category, div.header div.search form div.region {
	width: 100%
}
div.header div.search form div.category, div.header div.search form div.region {
	padding-right: 0
}
.header .links .social a {
	margin-bottom: 10px
}
body .enquiry_box_wrp a img {
	padding: 15px 130px
}
div.button-holder a {
	width: 153px;
	margin-right: 5px
}
div.advanced-search-holder form>div.text-right {
	width: 100%;
	margin-top: 15px
}
div.advanced-search-holder form>div.text-right input {
	width: 100%;
	float: none
}
.advanced-search .location label {
	font-size: 12px
}
}
@media screen and (max-width:480px) {
.header .links .cart {
	margin-right: 15px
}
body .enquiry_box_wrp a img {
	padding: 8px 115px
}
div.button-holder a {
	width: 48%;
	margin-right: 1%
}
.header div.container .links .login-register {
	display: inline-block;
	margin-left: 0
}
.button-holder {
	width: 100%;
	bottom: 0;
}
.advanced-search #contactform .text-right {
	float: none
}
.advanced-search #contactform .btn {
	width: 100%
}
.advanced-search .form-group {
	padding-left: 90px
}
}
footer .joinus .input-group .form-control {
	height: 42px;
	position:relative;
}
