#nav, #nav ul {
	background-color:#f0f0f0;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width:100%;
	z-index:99;
}
#nav {
	display: block;
	padding:0;
	position: relative;
	width: 100%;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	-webkit-perspective: 200px;
	-o-perspective: 200px;
	perspective: 200px;
}
#nav ul {
	left: -9999px;
	opacity: 0;
	overflow: hidden;
	/*padding: 5px;*/
	position: absolute;
	top: -9999px;
	-moz-transform: rotateY(70deg);
	-ms-transform: rotateY(70deg);
	-o-transform: rotateY(70deg);
	-webkit-transform: rotateY(70deg);
	transform: rotateY(70deg);
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-moz-transition: -moz-transform 0.3s linear, opacity 0.3s linear;
	-ms-transition: -ms-transform 0.3s linear, opacity 0.3s linear;
	-o-transition: -o-transform 0.3s linear, opacity 0.3s linear;
	-webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s linear;
	transition: transform 0.3s linear, opacity 0.3s linear;
}
#nav li {
	position: relative;
	line-height: 30px;
}
#nav > li {
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
/*#nav li a {
	display: block;
	padding:4px 0px 4px 10px;
	text-decoration: none;
	width:100%;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
*/
#nav li a {
	outline: none;
	background-color: #ffffff;
	border-top: #e5e5e5 1px solid;/*
	border-bottom: #e5e5e5 1px solid;*/
	color: #4d4d4d;
	display: block;
	font-size: 14px;
	padding:7px 0px 7px 60px;
	text-decoration: none;
	width:100%;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear; position:relative; display:table; width:100%;
}
label.check-label > span{ position:absolute; left:10px; top:7px;}
#nav li:hover > a {
	color: #FFFFFF;
}
#nav li:hover > a {
	background-color: #f0f0f0;
	color: #4d4d4d;
}
#nav li:hover ul.subs {
	left: 264px;
	opacity: 1;
	top: 0;
	-moz-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.local-search.club.refine_search>ul>li>input.btn.btn-primary.btn-danger.rgt_pp_btn
#nav ul li {
	width: 100%;
}
#nav li input { margin-top:20px;}
.srch_bt_bx {
	float: left;
	width: 20px;
	height: 20px;
	padding: 0 0 0 0;
	margin: 0;
	line-height: 0;
	border: 0px inset;
}
.col-sm-3 div img.img-responsive {
  float: left;
  overflow: hidden;
}
ul#nav li a img {
width: 15px;
height: 13px; position:absolute; left:37px; top:13px;}
/* colors */
body .check-label { width:100%; float:none; line-height:none; clear:both; padding-left:0; margin-bottom:0; float:left; }
body .check-label p{ margin-bottom:0; font-size:15px; color:#4d4d4d; font-weight:500;}