.btn, h1, h2, h3, h4, h5, h6 {
	font-family: helveticabold
}
body {
	background-color: #fff;
	font-family: helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #73726C;
	overflow-x: hidden;
}
html { text-rendering: auto; text-rendering: optimizeSpeed; text-rendering: optimizeLegibility; text-rendering: geometricPrecision; text-rendering: inherit;}
@font-face {
	font-family: helvetica;
	font-style:normal;
	font-weight:normal;
	font-stretch:normal;
	src: url(fonts/HelveticaNeueLTStdRoman.eot);
	src: url('fonts/HelveticaNeueLTStdRoman.eot') format('embedded-opentype'), url('fonts/HelveticaNeueLTStdRoman.woff2') format('woff2'), url('fonts/HelveticaNeueLTStdRoman.woff') format('woff'), url('fonts/HelveticaNeueLTStdRoman.ttf') format('truetype'), url('fonts/HelveticaNeueLTStdRoman.svg#HelveticaNeueLTStdRoman') format('svg')
}
@font-face {
	font-family: helveticabold;
	font-style:normal;
	font-weight:normal;
	src: url('fonts/HelveticaNeueLTStdBd.eot');
	src: url('fonts/HelveticaNeueLTStdBd.eot') format('embedded-opentype'), url('fonts/HelveticaNeueLTStdBd.woff2') format('woff2'), url('fonts/HelveticaNeueLTStdBd.woff') format('woff'), url('fonts/HelveticaNeueLTStdBd.ttf') format('truetype'), url('fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd') format('svg')
}
.btn, a, a:hover, div {
	text-decoration: none;
	outline: 0
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
	margin: 0
}
h1 {
	font-size: 5em
}
h1.page-title {
	font-size: 1.643em;
	margin-bottom: 14px
}
h2 {
	color: #c52f38;
	font-size: 2.286em
}
h2 span {
	border-bottom: 2px solid #4d4d4d;
	padding-bottom: 4px
}
h3 {
	color: #4d4d4d;
	font-size: 2.143em;
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 28px;
	padding-bottom: 5px
}
h3 span {
	border-bottom: 2px solid #4d4d4d;
	padding-bottom: 1px
}
h4 {
	font-size: 1.143em;
	margin-bottom: 15px
}
h5.sub-title {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	color: #898989;
	font-size: 1em;
	padding: 10px 0;
	margin-bottom: 10px
}
a {
	color: #c52f38;
	font-family: helvetica;
}
p {
	margin-bottom: 25px;
	line-height: 21px;
	text-align: justify;
	font-family: helvetica;
}
blockquote {
	font-size: 1em;
	font-style: italic;
	line-height: 20px;
	padding: 0 10px;
	font-family: helvetica;
}
.container {
	max-width: 1230px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body .btn-margin-5 {
	margin-bottom: 5px
}
body .btn-margin-10 {
	margin-bottom: 10px
}
body .btn-margin-15 {
	margin-bottom: 15px
}
body .btn-margin-20 {
	margin-bottom: 20px
}
body .btn-margin-25 {
	margin-bottom: 25px
}
body .btn-margin-30 {
	margin-bottom: 30px
}
body .btn-margin-35 {
	margin-bottom: 35px
}
.panel-default {
	border: none
}
.mrgn_wrp_tp {
	margin: 10px 0
}
.mrgn_none_div_cls {
	margin: 0;
	padding: 0
}
.modal-footer {
	overflow: hidden
}
.widht_cntr_mm {
	width: 81%!important
}
.totwal_wrp_bx {
	overflow: hidden;
	float: left;
	margin-bottom: 10px;
	width: 100%;
	text-align: center
}
.form_head em {
	font-size: 13px;
	font-weight: 400
}
.panel-body p {
	text-align: justify;
	padding: 0 14px 0 15px;
	font-family: helvetica;
}
.img-responsive {
	width: 100%
}
.feedback_button {
	padding: 15px 30px;
	max-width: 217px
}
label.error {
	color: #c9302c;
	font-size: 12px;
	letter-spacing: .8px;
	padding: 10px 0;
	text-align: left;
	position: absolute;
	right: 10px;
	top: 0
}
.advanced-search label.error {
	background: 0 0!important;
	display: inline-block;
	line-height: 18px;
	position: absolute;
	right: 0;
	top: 0;
	width: 42%
}
textarea {
	resize: none
}
.form-group {
	position: relative
}
#terms_conditions+#terms_conditions-error {
	top: 20px;
	right: 0
}
div#login_error_msg .error-display {
	top: 20px;
	right: 0;
	color: red
}
.show-error {
	color: #c9302c
}
.modal-content {
	border: 5px solid #000
}
button#closeform, button#closelogin {
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	opacity: 10;
	background: #000;
	font-size: 20px;
	z-index: 9;
	right: -25px;
	top: -26px;
	border-radius: 43px;
	margin: 0;
	text-shadow: none;
	text-align: center;
	text-decoration: none;
	height: 35px;
	width: 35px
}
button#closeform {
	color: #fff
}
ul.adrs_wrp_vip p a {
	color: #4d4d4d;
	font-family: helvetica;
}
ul.adrs_wrp_vip p a:hover {
	color: #c52f38;
	font-family: helvetica;
}
button#closeform span, button#closelogin span {
	display: block
}
button#closelogin {
	color: #fff
}
.tag span, span.prc_btm_01 {
	cursor: pointer;
	text-decoration: none;
	text-shadow: 2px 0 1px #000
}
.light_grw h4 strong, .red_bg, .red_bg a {
	color: #fff!important
}
form#registerform {
	display: inline-block;
	width: 100%
}
form#feedbackform p {
	font-size: 14px;
	text-align: justify;
	margin: 15px
}
.whit_box.hdgn_dfn_wrp.red_bg ul li a, div.members-lists-holder div.whit_box a button {
	text-align: left;
	font-family: helvetica;
}
#feed_back_Modal #feedback-error {
	right: 25px;
	bottom: 0;
	line-height: normal;
	top: inherit
}
#feed_back_Modal #email-error, #feed_back_Modal #first_name-error {
	right: 20px;
	top: 5px;
	line-height: normal
}
#feedbackform .modal-body {
	background: #f0f0f0;
	border: none;
	margin: 15px 15px 20px
}
#feedbackform input {
	border: none;
	height: 45px;
	font-size: 16px
}
#feedbackform textarea {
	border: none;
	height: 190px;
	font-size: 16px
}
#feedbackform #feedback_button {
	width: 122px;
	height: 41px;
	margin-right: 15px
}
form#feedbackform, form#loginform {
	display: inline-block;
	width: 100%
}
.modal-body {
	position: relative;
	padding: 15px;
	overflow: hidden;
	border-top: #c3c3c3 1px solid;
	margin: 0 15px;
	border-bottom: #c3c3c3 1px solid
}
.modal-footer, .modal-header {
	border: none
}
.close {
	opacity: 10
}
.bg_grw {
	background: #2a2a2a!important
}
.bg_grw_01 {
	background: #d2d2d2!important
}
div.members-lists-holder {
	background: #d2d2d2;
	clear: both;
	display: table;
	width: 100%;
	padding: 8px 0 0
}
div.members-lists-holder div.whit_box {
	min-height: 87px;
	vertical-align: bottom
}
div.members-lists-holder div.whit_box a {
	width: 100%;
	display: inline-block
}
div.members-lists-holder div.whit_box a button span {
	float: left
}
div.members-lists-holder div.whit_box a button img {
	float: right;
	position: relative;
	top: 5px
}
.light_grw {
	background: #333!important
}
.red_bg a {
	font-size: 20px;
	font-weight: 700;
	line-height: 32px;
	margin: 0
}
.mrgn_rght_bx_wrp {
	margin-right: 20px!important;
	padding-right: 25px!important;
	padding-left: 25px!important
}
.mrgn_pdgn_bx_none_wrp_fx {
	padding: 0;
	margin: 0
}
.red_bg {
	background: #c52f38!important;
	overflow: hidden
}
.red_bg a span {
	padding: 0 11px
}
.whit_box.hdgn_dfn_wrp.red_bg ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.whit_box.hdgn_dfn_wrp.red_bg ul li {
	float: none;
	border-right: 1px solid #333;
	width: 100%;
	padding-right: 10px
}
.whit_box.hdgn_dfn_wrp.red_bg ul li:last-child {
	border: none
}
.light_grw_lght_wth {
	margin: 0;
	width: 100%;
	padding: 12px;
	text-align: center;
	overflow: hidden;
	clear: both
}
span.prc_btm_01 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	line-height: 25px;
	position: absolute;
	margin-right: 0;
	color: #fff;
	letter-spacing: .8px;
	top: 0;
	right: 0;
	width: 113px
}
.tp_btn_mrgn_wrp {
	margin: 17px 0!important
}
.btn {
	border: none!important;
	text-transform: uppercase;
	border-radius: 3px
}
input.btn.btn-danger, input.btn.btn-danger-01 {
	text-transform: uppercase;
	font-family: helveticabold;
	border-radius: 3px;
	display: block;
	font-size: .929em
}
.btn-default {
	background: #c3c3c3;
	color: #4d4d4d
}
input.btn.btn-danger {
	margin-bottom: 5px;
	padding: 3.6px 30px
}
form#contactform input {
	font-style: normal
}
input.btn.btn-danger-01 {
	margin-bottom: 7px;
	padding: 5.6px 30px;
	color: #FFF;
	background-color: #D9534F
}
.advanced-search form {
	overflow: hidden
}
.btn.active, .btn.focus, .btn:active, .btn:focus, .btn:hover {
	box-shadow: none!important;
	outline: 0!important
}
.selectBox-dropdown {
	box-shadow: none;
	min-width: inherit
}
.selectBox-dropdown .selectBox-arrow {
	background: url(../images/drop.png) center no-repeat;
	border: none
}
.header {
	background: url(../images/bg.jpg);
	padding: 18px 0 12px
}
.header .links {
	margin-bottom: 14px
}
.header .links a {
	color: #c3c3c3;
	font-size: 14px;
	line-height: 30px;
	display: inline-block;
	cursor: pointer
}
.header .links .social a {
	margin-left: 2px
}
.header .links .favourites {
	background: url(../images/like.png) left center no-repeat;
	margin-left: 50px;
	padding-left: 35px
}
.header .links .cart {
	background: url(../images/cart.png) left center no-repeat;
	margin-left: 48px;
	padding-left: 32px
}
.header .links .login-register {
	text-transform: uppercase;
	font-family: helveticabold;
	color: #c52f38;
	line-height: 25px;
	margin-left: 52px
}
.header .links .login-register a {
	color: #c52f38
}
.header .search .button-search, .header .search .category, .header .search .region {
	float: left;
	margin-left: 8px
}
.header .search .button-search button {
	border-radius: 3px;
	display: block;
	width: 100%;
	margin-bottom: 7px;
	font-size: .929em;
	font-family: helveticabold;
	text-transform: uppercase;
	padding: 3.6px 18px
}
.header .search .form-control {
	width: 227px
}
.header .search .button-search {
	width: 178px
}
.header .search .selectBox-dropdown {
	height: 57px;
	line-height: 42px;
	border: none;
	background: #f0f0f0
}
.header .search .selectBox-dropdown .selectBox-arrow {
	width: 44px
}
.header .search .selectBox-dropdown .selectBox-label {
	font-size: 19px;
	color: #4d4d4d
}
.navbar {
	border: none;
	border-radius: 0;
	margin: 0;
	min-height: 42px
}
.navbar-nav>li>a {
	padding: 12px 42px;
	border-left: 1px solid #000;
	font-family: helveticabold;
	font-size: 15px
}
.navbar-nav>li:first-child>a {
	border-left: none
}
.navbar-inverse .navbar-collapse ul {
	border: 1px solid #000;
	border-top: none;
	border-bottom: none;
	width: 100%
}
ul.nav.navbar-nav li {
	width: 100%;
	max-width: 20%
}
ul.nav.navbar-nav li a {
	padding: 10px 20px 12px 20px;
	text-align: center
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-nav>li>a.active, .navbar-nav>li>a:active {
	color: #fff;
	background-color: transparent
}
.banner {
	position: relative;
	margin-bottom: 18px
}
.banner .slider {
	max-height: 550px;
	width: 100%;
	overflow: hidden
}
.banner .slider img {
	width: 100%
}
.banner-slider {
	position: absolute;
	top: 50%;
	z-index: 100;
	right: 0;
	left: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}
.banner-slider .carousel-inner {
	background: #fff
}
.carousel-inner .itme h2 {
	font-size: 32px
}
.banner-slider .carousel {
	width: 464px
}
.banner-slider .carousel-inner>.item {
	padding: 24px
}
.banner-slider h2 {
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 8px;
	margin-bottom: 18px
}
.banner-slider p {
	font-size: 1.786em;
	font-family: helveticabold;
	line-height: 25px;
	padding: 20px 0;
	color: #4d4d4d
}
.banner-slider .btn {
	font-family: helveticabold;
	text-transform: uppercase;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 15px;
	padding: 9px 30px
}
.banner-slider .btn a {
	color: #fff
}
.item.logo_img {
	width: auto;
	text-align: center
}
.owl-stage .item.logo_img img {
	max-height: 112px;
	width: auto
}
.enquiry_section {
	margin-top: 4px
}
.enquiry_section h3 {
	padding-bottom: 13px;
	margin-bottom: 24px
}
.enquiry_section h3 span {
	padding-bottom: 8px
}
.enquiry_section p {
	font-size: 13px;
	text-align: justify;
	margin: 0 0 16px
}
.banner-slider .carousel-control {
	background: 0 0;
	right: 0;
	left: auto;
	top: auto;
	width: 25px;
	height: 50px;
	opacity: 1;
	bottom: 20px
}
.banner-slider .carousel-control.left {
	background: #fff
}
.banner-slider .carousel-control.right {
	right: -25px;
	background: url(../images/arrow-back.png) center no-repeat
}
.banner-slider .carousel-control.right img {
	margin-right: 11px
}
.banner-slider .carousel-control img {
	margin-top: 18px
}
li.left-rounded.box-whte {
	background: #f0f0f0;
	border-radius: 6px 0 0 6px;
	padding: 6px 10px;
	margin: 5px 0 0
}
.col-xs-1.col-sm-1.col-md-1.col-lg-1.social_menu_sld {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 177px;
	width: 45px;
	z-index: 9;
	display: none
}
h4.panel-title.faq_wrp {
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	font-family: helvetica
}
div.panel-body {
	position: relative
}
div.panel-collapse.in div.panel-body:before {
	content: '';
	position: absolute;
	left: 10px;
	top: -2px;
	display: block;
	width: 100%;
	background: url(../images/faq_arrow.png) no-repeat;
	height: 13px
}
.col-xs-1.col-sm-1.col-md-1.col-lg-1.social_menu_sld_01 {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 177px;
	width: 45px;
	z-index: 99
}
.col-xs-1.col-sm-1.col-md-1.col-lg-1.social_menu_sld_01 ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.margn_wrp_fx_bx {
	top: 30px
}
.mrgn_tp_btn_wrp {
	margin: 20px 0;
	padding: 0
}
.col-md-3.window_register_decal {
	background: url(../images/select_rewards-club_frm.jpg) no-repeat;
	padding: 0
}
.window_register_deal_box {
	background: #fff;
	margin: 0;
	overflow: hidden;
	padding: 8px 0;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#000000)";
	-moz-box-shadow: 7px 4px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 7px 4px 3px rgba(0,0,0,.1);
	box-shadow: 7px 4px 3px rgba(0,0,0,.1);
filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color=#000000)
}
.window_register_deal_box label {
	width: auto!important;
	background-color: rgba(255,255,255,.05)!important;
	float: right
}
.window_register_deal_box label input {
	float: left;
	background: url(../images/bx_inpt_check_.jpg) no-repeat;
	border: none;
	height: 38px;
	width: 38px;
	margin: 0 14px 0 0
}
.window_register_deal_box label input.active, .window_register_deal_box label input:active {
	float: left;
	height: 38px;
	width: 38px;
	background: url(../images/bx_inpt_check_active.jpg) no-repeat;
	border: none
}
.col-md-3.counter_stands {
	background: url(../images/counter_stand.jpg) no-repeat;
	padding: 0
}
.counter_stands_box {
	padding: 9px 0 45px;
	height: auto;
	width: auto;
	margin: 178px 14px 0 0;
	background: rgba(255,255,255,.8)
}
.counter_stands_box label {
	width: auto!important;
	background-color: rgba(255,255,255,.05)!important;
	float: right
}
.counter_stands_box label input {
	float: left;
	background: url(../images/bx_inpt_check_.jpg) no-repeat;
	border: none;
	height: 38px;
	width: 38px;
	margin: 0 14px 0 0
}
.counter_stands_box label input:active, .window_register_decal_box label input.active {
	float: left;
	height: 38px;
	width: 38px;
	background: url(../images/bx_inpt_check_active.jpg) no-repeat;
	border: none
}
.col-md-3.deal_card {
	background: url(../images/deal_card.jpg) no-repeat;
	padding: 0
}
.deal_card_box {
	padding: 9px 0 45px;
	height: auto;
	width: auto;
	margin: 178px 14px 0 0;
	background: rgba(255,255,255,.8)
}
.deal_card_box label {
	width: auto!important;
	background-color: rgba(255,255,255,.05)!important;
	float: right
}
.deal_card_box label input {
	float: left;
	background: url(../images/bx_inpt_check_.jpg) no-repeat;
	border: none;
	height: 38px;
	width: 38px;
	margin: 0 14px 0 0
}
.deal_card_box label input:active, .window_register_decal_box label input.active {
	float: left;
	height: 38px;
	width: 38px;
	background: url(../images/bx_inpt_check_active.jpg) no-repeat;
	border: none
}
.col-md-3.shop_front_welcome_banner {
	background: url(../images/shopfront-welcome_banner.jpg) no-repeat;
	padding: 0
}
.shop_front_welcome_banner_box {
	padding: 9px 0 45px;
	height: auto;
	width: auto;
	margin: 178px 14px 0 0;
	background: rgba(255,255,255,.8)
}
.shop_front_welcome_banner_box label {
	width: auto!important;
	background-color: rgba(255,255,255,.05)!important;
	float: right
}
.shop_front_welcome_banner_box label input {
	float: left;
	background: url(../images/bx_inpt_check_.jpg) no-repeat;
	border: none;
	height: 38px;
	width: 38px;
	margin: 0 14px 0 0
}
.window_register_decal_box img {
	width: 100%
}
.shop_front_welcome_banner_box label input:active, .window_register_decal_box label input.active {
	float: left;
	height: 38px;
	width: 38px;
	background: url(../images/bx_inpt_check_active.jpg) no-repeat;
	border: none
}
.advanced-search {
	padding: 15px 0;
	background-color: #f0f0f0;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}
.advanced-search.club-form {
	margin-bottom: 60px
}
.text-right {
	text-align: right;
	float: right
}
.advanced-search label {
	width: 130px;
	background-color: #fff;
	line-height: 34px;
	paddingt: 0 0 0 15px;
	position: absolute;
	left: 22px;
	top: 0;
	cursor: pointer;
	font-weight: 400;
	margin: 0
}
.advanced-search .form-group.location {
	margin-bottom: 3px;
	background: 0 0;
	margin-top: 7px
}
.advanced-search .location label {
	width: auto;
	float: none;
	background: 0 0;
	line-height: 20px;
	position: static;
	font-weight: 400
}
.advanced-search .selectBox-dropdown {
	float: left;
	width: 79.44%;
	background: #fff;
	border-radius: 0;
	border: none;
	border-left: 1px solid #f0f0f0
}
.advanced-search .form-control {
	float: left;
	width: 100%;
	background: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: none;
	border-left: 1px solid #f0f0f0;
	box-shadow: none;
	font-style: italic;
	color: #9d9d9d;
	padding-right: 45px;
	margin: 0 0 9px
}
.marign-bottom-20 {
	padding-bottom: 20px;
	display: block
}
.advanced-search .form-group {
	float: none;
	padding-left: 150px;
	position: relative;
	background: #fff;
	width: 100%;
	margin-bottom: 8px;
	clear: both;
	overflow: hidden
}
.advanced-search .selectBox-arrow {
	width: 36px;
	border-left: 1px solid #f0f0f0
}
.advanced-search .btn {
	color: #fff;
	text-transform: uppercase;
	font-family: helveticabold;
	width: 153px;
	line-height: 29px;
	border-radius: 3px;
	float: left
}
.local-search {
	padding: 20px 28px;
	background-color: #f0f0f0
}
.local-search label {
	float: left;
	line-height: normal;
	padding-left: 23px;
	font-size: 15px
}
.local-search .form-group.location {
	margin-bottom: 7px
}
.local-search .location label {
	width: auto;
	float: none;
	background: 0 0;
	line-height: 1px
}
.local-search .selectBox-dropdown {
	float: left;
	background: #fff;
	border-radius: 0;
	border: none;
	border-left: 1px solid #f0f0f0
}
.local-search .form-control {
	float: left;
	background: #fff;
	border-radius: 0;
	border: none;
	border-left: 1px solid #f0f0f0;
	box-shadow: none;
	font-style: italic;
	color: #9d9d9d
}
.local-search .form-group {
	float: left;
	width: 100%;
	margin-bottom: 2px;
	background: #fff
}
.local-search .selectBox-arrow {
	width: 36px;
	border-left: 1px solid #f0f0f0
}
.local-search .btn {
	color: #fff;
	text-transform: uppercase;
	margin-left: 7px;
	font-family: helveticabold;
	width: 153px;
	line-height: 32px;
	border-radius: 3px;
	margin-top: 7px
}
.search-featured {
	margin-bottom: 40px;
	position: relative
}
.search-featured .price {
	position: absolute;
	top: -14px;
	right: 10px
}
div.featured-deals-holder h3 {
	margin-bottom: 0
}
div.featured-deals-holder .owl-carousel .owl-stage-outer {
	padding-top: 28px
}
div.featured-deals-holder #featureCarousel .item img.price {
	width: auto
}
div.hvr img.img-responsive {
	vertical-align: top
}
.billing_available {
	float: left
}
.billing_available img {
	width: 100%
}
.bg_find_out.btn {
	background: #7daed3;
	color: #fff;
	margin: 10px 0
}
.bg_find_out.btn:hover {
	background: #6c96b6
}
.billing_available p {
	font-size: 11px;
	color: #fff;
	text-align: center;
	padding: 0;
	margin: 0
}
.local-search.club {
	padding: 10px;
	float: left;
	width: 100%;
	margin-bottom: 6%
}
.local-search.club h4 {
	font-size: 15px;
	line-height: normal;
	margin: 0 0 5px
}
label.lbl_cls {
	line-height: 34px;
	padding-left: 5px;
	padding-right: 5px
}
.search-club {
	padding: 0;
	margin: 0
}
input.form-control.input_txt {
	width: 65.44%!important
}
select.fx-wdth-slect {
	width: 69.44%!important
}
#featureCarousel .item img {
	width: 100%
}
#featureCarousel .carousel-control {
	left: auto;
	right: 0;
	top: -59px;
	width: auto;
	height: auto;
	bottom: auto;
	background: 0 0;
	opacity: 1
}
#featureCarousel .carousel-control.left {
	right: 26px
}
#featureCarousel .captions {
	background-color: #fff;
	border: 6px solid #f0f0f0;
	padding: 12px;
	color: #4d4d4d
}
#featureCarousel .captions p:last-child {
	margin-bottom: 0
}
#featureCarousel .captions h4 {
	color: #4d4d4d;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 6px;
	margin-bottom: 7px
}
.feature-service {
	margin-bottom: 60px;
	margin-top: 60px
}
.feature-service .owl-carousel {
	position: relative
}
.feature-service .owl-carousel .owl-item img.img-responsive {
	width: 100%
}
.owl-carousel .owl-controls {
	position: absolute;
	top: -30px;
	right: 0
}
#featureCarousel.owl-carousel .owl-controls {
	top: -30px
}
.owl-controls .owl-nav div {
	display: inline-block;
	text-indent: -9999px;
	height: 16px;
	width: 13px
}
.owl-controls .owl-nav div.owl-prev {
	background: url(../images/left.png) center no-repeat
}
.owl-controls .owl-nav div.owl-next {
	background: url(../images/right.png) center no-repeat;
	margin-left: 15px
}
.media-block {
	background-color: #f0f0f0;
	padding: 48px 0 58px
}
.feature-service .owl-carousel .owl-controls, .media-block .owl-carousel .owl-controls, .suppliers-service .owl-carousel .owl-controls {
	top: -59px
}
div.btn-danger {
	position: absolute;
	width: 90%;
	bottom: 10px
}
.media-block .club-news .info {
	background-color: #fff;
	border: 5px solid #d2d2d2;
	padding: 12px 8px 42px;
	min-height: 250px;
	position: relative
}
.media-block .club-news img.img-responsive {
	width: 100%
}
.media-block .club-news .info span {
	font-size: 20px;
	color: #4d4d4d;
	font-family: helveticabold;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
	margin-bottom: 5px;
	display: block
}
.media-block .club-news .info h4 {
	color: #4d4d4d;
    font-family: helvetica;
    font-size: 18px;
    letter-spacing: 0;
    margin-bottom: 8px;
    margin-top: 11px;
}
.media-block .club-news .info p {
	color: #9d9d9d;
	font-size: 12px
}
.media-block .club-news .info .btn {
	width: 100%;
	text-transform: uppercase;
	font-size: 15px;
	padding: 3px 0;
	font-family: helveticabold;
	border-radius: 3px
}
.twitter {
	background-color: #fff
}
.twitter .twit {
	background: url(../images/twit.png) left no-repeat;
	padding-left: 54px;
	font-size: 14px;
	font-family: helveticabold;
	color: #4d4d4d;
	overflow: hidden;
	line-height: 75px
}
footer {
	background: url(../images/bgfooter.jpg) #000;
	color: #fff;
	padding: 45px 0 49px;
	margin-top: -4px
}
footer h3 {
	color: #fff;
	border-color: #c3c3c3;
	text-transform: uppercase;
	margin-bottom: 20px
}
footer h3 span {
	border-color: #fff
}
footer h4 {
	text-transform: uppercase;
	line-height: 15px
}
footer .sitemap ul li {
	margin-bottom: 22px
}
footer .sitemap a {
	font-size: 1em;
	color: #fff;
	text-transform: uppercase;
	font-family: helveticabold
}
footer .joinus .input-group {
	display: block;
	position:relative;
}
footer .joinus .input-group .form-control {
	width: 100%;
	margin-bottom: 5px;
	border-radius: 3px;
	position: relative
}
footer .joinus span.social {
	display: block;
	padding: 4px 0
}
footer .joinus span.social a {
	float: left;
	margin-right: 20px
}
footer div.input-group {
	position: relative;
	clear: both
}
footer .joinus .email {
	background: url(../images/go.png) 0 center no-repeat #fff;
	position: absolute;
	top: 13px;
	right: 12px;
	border: none;
	z-index: 9;
	font-size: 0;
	width: 56px;
	height: 17px
}
footer .joinus input[name=member_email] {
	padding-right: 80px
}
footer p {
	color: #9d9d9d;
	line-height: 19px
}
#feedbackCarousel .carousel-control {
	top: -42px;
	bottom: auto;
	background: 0 0;
	opacity: 1;
	width: auto
}
.whit_box.hdgn_dfn_wrp, a.thumb-holder img {
	width: 100%
}
#feedbackCarousel .carousel-control.left {
	left: auto;
	right: 25px
}
.copyright {
	color: #9d9d9d;
	background-color: #272727;
	line-height: 44px
}
div.footer-menu {
	text-align: right
}
.copyright p {
	margin-bottom: 0;
	line-height: 49px
}
.copyright a {
	color: #9d9d9d;
	display: block
}
.breadcrumb {
	margin: 20px 0 33px;
	padding: 11px
}
.info-block {
	max-width: 335px;
	margin-right: 20px;
	margin-bottom: 0
}
.info-block .info-links {
	margin-top: 10px;
	font-family: helveticabold;
	font-size: 18px
}
.info-block .info-links a.btn {
	display: block;
	margin-bottom: 13px;
	font-family: helvetica;
	text-transform: capitalize;
	font-size: 16px
}
.menu-detail {
	background: #f0f0f0;
	padding: 12px 0 12px 3px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px
}
.menu-detail ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.menu-detail ul li {
	float: left;
	padding: 0 10px 0 5px;
	background: url(../images/arrow_icn.png) right no-repeat
}
.menu-detail ul li:last-child {
	background: 0 0
}
.menu-detail ul li a {
	color: #333;
	text-decoration: none;
	text-transform: none
}
.menu-detail ul li a:hover {
	olor: #c52f38
}
.menu-detail ul li a.active, .menu-detail ul li a:active {
	color: #c52f38;
	font-weight: 700
}
button.view_website.btn, h4.clb_head {
	font-family: helvetica;
	font-weight: 400
}
.col-md-7.member-detail {
	margin: 0
}
.col-md-7.member-detail img {
	margin: 35px 20px
}
.col-md-7.member-detail p {
	line-height: 20px;
	font-size: 14px;
	text-align: justify
}
.vdo-md-cls {
	margin: -4px 0;
	padding: 0 0 0 21px
}
h4.clb_head {
	color: #4d4d4d;
	font-size: 18px;
	border-top: 1px solid #c3c3c3;
	margin: 22px 0;
	padding-top: 16px
}
.result-box_board span {
	font-size: 14px
}
.result-box_board span b {
	font-size: 15px
}
.with_resuld_board {
	overflow: hidden;
	padding: 15px 0;
	height: 205px
}
.whit_box h4 {
	padding: 0 0 8px;
	font-size: 21px;
	margin: 0
}
.whit_box {
	background: #FFF;
	border-radius: 5px;
	padding: 15px 10px;
	/*margin: 0 0 15px;*/
	margin: 0;
	height: 100%
}
.whit_box p {
	padding: 8px 0 0;
	margin: 2px 0 0;
	border-top: #f0f0f0 1px solid;
	font-size: 15px
}
button.view_website.btn {
	background: #c52f38;
	color: #FFF;
	text-transform: capitalize;
	font-size: 16px;
	padding: 5px 10px;
	width: 100%
}
.mrgn {
	margin-left: 10px
}
.whit_box.fix_with_right {
	text-align: center;
	height: 100%
}
span.glyphicon.glyphicon-star.un_select_clr {
	color: #989898
}
.fx_font_siz {
	font-size: 14px;
	letter-spacing: .5px
}
ul.dropdown-menu.fx_wth_drp {
	min-width: 40px
}
.col-md-6.mrgn_drp_dn {
	margin: 20px 0 0
}
.clr_md_seclect_ {
	color: #c52f38
}
.col-md-6.cls_right_sd {
	float: right
}
#option1_1 {
	height: 0;
	width: 120px;
	border-bottom: 120px solid #ec3504;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent
}
.col-md-7.annual_membership h4 {
	margin: 25px 0;
	font-size: 22px
}
.col-md-7.annual_membership {
	text-align: center
}
.col-md-7.annual_membership p a strong {
	font-size: 30px;
	letter-spacing: 2.5px
}
.clr_ywllo_mp {
	background: #fa8b00;
	font-size: 20px!important
}
.btn.btn-primary.clr_ywllo_mp.active, .btn.btn-primary.clr_ywllo_mp:active, .btn.btn-primary.clr_ywllo_mp:hover {
	background: #c52f38
}
.red_bg_box_wrp {
	background: url(../images/online_only.jpg) left top no-repeat #cd1120;
	padding: 73px 10px 0
}
.blue_bg_box_wrp {
	background: #7eaed4
}
button.bg_find_out.btn.brdr_bx {
	border: 1px solid #FFF!important
}
button.bg_find_out.btn.btm_mrgn_wrp_cls {
	margin: 41px 0 27px
}
.member-detail.club_for_member_wrp img.for_club {
	float: left;
	margin: 0 20px 20px 0
}
.clb_exprsn_blt_hm {
	text-align: left
}
.vdo-md-cls p {
	text-align: justify;
	padding-top: 14px
}
.col-md-7.member-detail.club_for_member_wrp p {
	font-size: 14px;
	text-align: justify
}
.col-md-6.clb_exprsn_blt_hm ul {
	list-style-image: url(../images/bullet_circle.png);
	margin-left: 30px
}
.col-md-6.clb_exprsn_blt_hm ul li {
	font-size: 16px;
	font-weight: 700;
	padding: 3px 0 10px 8px;
	color: #4d4d4d;
	letter-spacing: .5px;
	line-height: 21px
}
div.map_view h5, ul.deal_page_map li strong {
	line-height: 29px;
	color: #4d4d4d;
}
.feature-service .owl-carousel.owl-loaded {
	display: inline-block
}
.enquiry_box_wrp {
	text-align: center;
	margin: 54px 0 0 0; float:left;
}
.col-md-12.enquiry_box_wrp_01, .enquiry_box_wrp {
	background: url(../images/for_enquiry.jpg) no-repeat;
	background-size:100%;
}
.enquiry_box_wrp a {
	overflow: hidden
}
.enquiry_box_wrp a img {
	padding: 21px 300px
}
.enquiry_box_wrp_01 a img {
	padding: 28px 300px
}
.col-md-12.enquiry_box_wrp_01 {
	background-size: 100%;
	text-align: center;
	margin: 32px 0 0
}
.col-md-12.enquiry_box_wrp_01 a {
	overflow: hidden
}
.nt_wth_incld_padding .form-group {
	padding-left: 0;
	border: none;
	background: #FFF
}
.form-group .form-control.nt_wth_incld {
	width: 100%;
	font-style: normal
}
h4.left_align {
	float: left;
	margin-top: 20px
}
h4.right_align {
	float: right
}
.margn_wrp_fx_bx_01 h3 {
	margin: -6px 0 0;
	position: absolute
}
.margn_wrp_fx_bx_top {
	margin-bottom: 25px
}
.brd_nn {
	border-top: 1px solid #fff!important
}
.brd_nn_01 {
	border-top: 1px solid #f0f0f0!important;
	margin-top: -38px!important
}
ul.adrs_wrp_vip {
	list-style-type: none;
	font-family: helvetica;
	padding: 0 0 0 5px
}
.brd_btm_tp_dfn h4, .fnt_n_clr_fx p, .fnt_n_clr_fx_rgt p {
	font-family: helvetica, sans-serif
}
ul.adrs_wrp_vip li {
	padding: 5px 0;
	color: #4d4d4d
}
ul.adrs_wrp_vip li a {
	margin-right: 5px
}
ul.adrs_wrp_vip p {
	padding: 20px 0 10px;
	color: #4d4d4d
}
.pdn_mrgn_nn, ul.adrs_wrp_vip_01 {
	margin: 0;
	padding: 0
}
ul.adrs_wrp_vip_01 {
	list-style-type: none;
	background: #f0f0f0;
	overflow: hidden;
	width: 97%
}
.pdn_mrgn_nn_right {
	margin: 0;
	padding: 0 20px 0 0
}
ul.adrs_wrp_vip_01 li {
	float: left;
	padding: 7px;
	width: 25%
}
ul.adrs_wrp_vip_01 li img {
	height: 127px
}
.mrgn_top_02 {
	position: absolute;
	width: 63%
}
.wth_prcnt {
	width: 20%!important;
	font-size: 11px;
	color: #9d9d9d;
	overflow: hidden
}
.panel-title.faq_wrp {
	font-size: 13px;
	color: #6a6b6c;
	width: 100%;
	overflow: hidden
}
a.faq_head_wrp {
	background: #e4e4e4;
	padding: 15px 0 15px 2%;
	border-radius: 5px;
	text-decoration: none;
	text-transform: none;
	float: left;
	width: 100%;
	position: relative
}
.panel-default>.panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body, div.hvr {
	border: none
}
a.faq_head_wrp.is-open, a.faq_head_wrp:hover {
	color: #fff;
	background: no-repeat #c52f38
}
a.faq_head_wrp img {
	display: none;
	z-index: 99;
	position: relative
}
a.faq_head_wrp.active img {
	display: block;
	bottom: 0;
	top: 45px;
	position: absolute
}
.panel-default {
	border-color: none
}
ul.deal_page_map {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right
}
ul.deal_page_map li:last-child {
	padding-right: 0
}
ul.deal_page_map li:last-child button {
	margin-right: 0
}
.map_view {
	margin-bottom: 47px;
	display: table;
	width: 100%
}
ul.deal_page_map li {
	float: left;
	margin: 0;
	padding: 0 6px 0 0;
	cursor: pointer;
	color: #4d4d4d;
	font-size: 15px
}
.map_view ul.deal_page_map li {
	margin-right: 10px
}
.map_view ul.deal_page_map li button {
	margin-right: 5px
}
.view_as_grid h5 {
	line-height: 29px;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: .1px;
	color: #4d4d4d;
}
.glyphicon, .tag span {
	font-weight: 700;
	line-height: 29px
}
ul.deal_page_map li button {
	margin-right: 0;
	font-size: 18px
}
.glyphicon {
	font-size: 22px
}
div.tp_btn_mrgn_wrp {
	position: relative
}
div.best_price_wrp {
	position: absolute;
	right: 0;
	top: -14px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 1px 6px
}
.bg_nn_pgmrgn {
	background: #FFF;
	padding: 0!important;
	margin: 0;
	float: left
}
.tag span {
	color: #fff;
	font-size: 26px;
	letter-spacing: .8px;
	position: absolute;
	right: -1px;
	text-align: center;
	text-transform: uppercase;
	top: 11px;
	width: 95px
}
.local-search.club.bg_nn_pgmrgn label, .local-search.club.bg_nn_pgmrgn select, .local-search.club.bg_nn_pgmrgn select a {
	background: #f0f0f0
}
.form-control.input_txt.clr {
	background: #f0f0f0!important
}
ul.deal_page_map li button.active, ul.deal_page_map li button:active, ul.deal_page_map li button:hover {
	color: #c52f38
}
span.selectBox-label {
	width: 100%!important;
	font-family:helvetica;
}
.view_website.btn.fx_font_siz.heart_bg {
	background: #d2d2d2;
	color: #4d4d4d;
	padding: 5px 10px;
	margin-bottom: 10px
}
.subscribe p a {
	color: #9d9d9d;
	font-size: 15px;
	line-height: 23px
}
.flt_right_wrp {
	float: right;
	margin: 0;
	text-align: center
}
.modal-footer .btn+.btn {
	width: 50%;
	padding: 7px 0
}
.cmn_wrp_wht_pdgn {
	padding: 10px;
	margin: 0 5px;
	width: 65%
}
.bt_mrgn_wrp {
	margin: 0 0 15px
}
.insrt_with {
	min-width: 45px
}
.margin_right_wrp_bxt_itm {
	float: left;
	margin: 0 10px 0 0;
	line-height: 30px
}
.dropdown-menu {
	left: 126px
}
.best_price_wrp a img {
	position: absolute;
	z-index: 9;
	top: -13px;
	right: 25px
}
a.best_img_sprt_clr_cgng {
	float: left;
	overflow: hidden;
	z-index: 1;
	background: #000;
	width: 100%
}
.pp_frm_inpt {
	float: right;
	background: #fff
}
.form-input-holder select.pp_frm_inpt {
	float: none;
	background: #fff;
	width: 100%
}
.form-input-holder a.selectBox {
	width: 100%!important
}
.form-input-holder {
	float: right;
	width: 65%;
	position: relative
}
.form-input-holder_01 a.selectBox {
	width: 100%!important
}
.form-input-holder_01 {
	width: 100%
}
.pp_frm_inpt_01 {
	width: 100%!important;
	float: right;
	background: #fff
}
.pp_frm_label {
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	text-align: right;
	width: 32%
}
form#registerform a.selectBox, form#registerform input {
	height: 45px
}
.lft_pp_btn {
	width: 48%;
	float: left
}
.rgt_pp_btn {
	width: 48%;
	float: right
}
#registerform .control-label.check_bx_pp_lbl {
	text-align: right;
	width: 100%;
	line-height: 33px
}
.check_bx_pp_lbl {
	line-height: 30px;
	text-align: right;
	width: 100%
}
form#reviewform .check_bx_pp_lbl {
	color: #73726c;
	font-size: 12px;
	letter-spacing: .5px
}
.check_bx_pp {
	width: 20px;
	height: 20px;
	float: right
}
.modal-open .modal {
	background: rgba(5,5,5,.9)
}
input[type=checkbox] {
	display: none
}
input[type=checkbox]+label {
	color: #4d4d4d;
	font-size: 14.9px
}
input[type=checkbox]+label span {
	display: inline-block;
	width: 20px;
	height: 23px;
	margin: 0;
	vertical-align: middle;
	background: url(../images/check_radio_sheet.png) left top no-repeat;
	cursor: pointer
}
a.best_img_sprt_clr_cgng img, div.hvr {
	width: 100%
}
input[type=checkbox]:checked+label span {
	background: url(../images/check_radio_sheet.png) -20px top no-repeat
}
a.best_img_sprt_clr_cgng.active, a.best_img_sprt_clr_cgng:active, a.best_img_sprt_clr_cgng:hover {
	background: rgba(42,42,42,.8);
	overflow: hidden;
	float: left
}
div.hvr:hover .gride_view_caption {
	background: 0 0;
	border: none;
	padding: 0;
	margin: 9px
}
div.hvr .with_resuld_board {
	margin: 0;
	padding: 0
}
.hdgn_dfn_wrp {
	text-align: center;
	padding: 0
}
.hdgn_dfn_wrp h4 {
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	color: #151515;
	padding: 5px;
	letter-spacing: .1px;
	line-height: 27px;
	margin: 0
}
div.hvr.active img.img-responsive.opct, div.hvr:active img.img-responsive.opct, div.hvr:hover img.img-responsive.opct {
	opacity: .2
}
div.hvr:hover div.best_price_wrp a img {
	opacity: none;
	position: absolute;
	z-index: 9
}
div.hvr {
	padding: 0;
	margin: 0 0 20px;
	background: #fff;
	position: relative;
	cursor: pointer
}
div.tag {
	position: absolute;
	z-index: 9;
	right: 10px;
	top: -13px
}
.gride_view_caption.list-view {
	background: #fff;
	border: 6px solid #d2d2d2;
	margin: 0;
	height: 74px
}
.gride_view_caption h4 {
	padding: 8px 15px;
	margin-bottom: 0;
	font-size: 22px;
	color: #000;
	height: 100%
}
div.hvr.active, div.hvr:active, div.hvr:hover {
	background: rgba(11,11,11,.8);
	color: #fff
}
div.deal-info-holder {
	min-height: 147px
}
div.hvr.active h4, div.hvr:active h4, div.hvr:hover h4 {
	background: rgba(51,51,51,.9);
	color: #fff;
	border-radius: 0
}
.best_price_wrp a {
	float: right;
	overflow: hidden;
	width: auto;
	height: auto
}
.none_dspl {
	display: none
}
div.hvr.active div.light_grw.light_grw_lght_wth.none_dspl, div.hvr:active div.light_grw.light_grw_lght_wth.none_dspl, div.hvr:hover div.light_grw.light_grw_lght_wth.none_dspl {
	display: block
}
input.chck_box_wrp {
	background: #fff!important;
	border: none;
	margin: 10px 10px 7px 0
}
.close:focus, .close:hover {
	opacity: 10
}
.breadcrumb>li+li:before {
	content: "»";
	color: #333;
	font-size: 20px
}
div#map {
	height: 435px
}
.write_review {
	width: 100%;
	float: left
}
.write_a_review_block {
	width: 100%;
	padding: 18px;
	margin: 28px 0;
	border: 1px solid #c3c3c3
}
.write_a_review_block h1 {
	font-size: 22px;
	color: #4d4d4d
}
.write_a_review_block p {
	font-size: 14px;
	color: #4d4d4d
}
.write_a_review_block p:last-child {
	margin-bottom: 0
}
p.date_time {
	color: #9d9d9d
}
p.rating {
	float: left;
	margin: 0 14px 0 0;
	padding: 0
}
form#reviewform {
	padding: 28px 40px
}
form#reviewform .modal-body, form#reviewform .modal-header {
	padding: 0;
	margin: 0
}
form#reviewform .modal-title {
	font-size: 18px;
	padding-bottom: 10px
}
@media screen and (max-width:1440px) {
.navbar-nav>li>a {
	padding: 12px 42px
}
}
@media screen and (max-width:1366px) {
.navbar-nav>li>a {
	padding: 12px 42px
}
}
@media screen and (max-width:1280px) {
.navbar-nav>li>a {
	padding: 12px 42px
}
.banner-slider .carousel {
	display: none
}
}
@media screen and (max-width:1200px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
footer.container {
	width: 1125px
}
.red_bg a {
	font-size: 13px
}
}
@media screen and (max-width:1129px) {
.fx_font_siz {
	font-size: 12px!important
}
.pgn_wrp_clr ul.pagination li a {
	padding: 5px 7px
}
.view_website.btn.fx_font_siz.heart_bg {
	width: 100%;
	padding: 5px 0
}
button.view_website.btn {
	padding: 5px 7px;
	margin: 0
}
}
@media screen and (max-width:1080px) {
h3 {
	font-size: 20px
}
.local-search.club h4 {
	font-size: 14px!important
}
}
@media screen and (max-width:1060px) {
h3 {
	font-size: 20px
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
/*.flt_right_wrp {
	width: 32%
}*/
}
@media screen and (max-width:1024px) {
.navbar-nav>li>a {
	padding: 12px 23px;
	font-size: 14px
}
label.lbl_cls {
	padding-left: 10px
}
.billing_available {
	width: 30%;
	float: left;
	margin: 0 7px
}
.banner-slider .carousel {
	display: none
}
.advanced-search .form-control {
	width: 73.44%
}
h3 {
	font-size: 21px
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
.pgn_wrp_clr ul.pagination li a {
	padding: 5px 6px
}
div.window_register_deal_box {
	margin-bottom: 25px
}

}
@media screen and (max-width:980px) {
.navbar-nav>li>a {
	padding: 12px 6px;
	font-size: 13px
}
.billing_available {
	width: 30%;
	float: left;
	margin: 0 7px
}
h3 {
	font-size: 20px;
	line-height: 36px
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
body div.with_resuld_board > div { height:auto;}
.margin-buttom-10 { margin-bottom:10px;}
}
@media screen and (max-width:966px) {
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
}
@media screen and (max-width:900px) {
.navbar-nav>li>a {
	padding: 12px 6px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
}
@media screen and (max-width:860px) {
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
}
@media screen and (max-width:800px) {
.navbar-nav>li>a {
	padding: 10px 6px;
	font-size: 13px
}
.pdn_mrgn_nn_right {
	margin: 0;
	padding: 0
}
.refine_search ul li a {
	padding: 6px 8px 6px 21px;
	font-size: 14px;
	line-height: 20px
}
.billing_available {
	width: 30%;
	float: left;
	margin: 0 7px
}
.twitter .twit {
	margin: 10px 0
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 14px 103px 15px 82px;
	width: 100%
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
h3 {
	font-size: 20px;
	line-height: 35px
}
.media-block .club-news .info span {
	font-size: 15px
}
.media-block .club-news .info h4 {
	font-size: 13px;
}
ul.deal_page_map {
	margin-bottom: 20px;
}
div.with_resuld_board > div {
	height: 47%;
}
}
@media screen and (min-width:768px) {
.media-block .club-news .info .btn {
	font-size: 15px;
	position: absolute;
	bottom: 10px;
	width: -moz-calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: calc(100% - 20px)
}
}
@media screen and (max-width:768px) {
.navbar-nav>li>a {
	padding: 12px 11px;
	font-size: 12px
}
div.copyright p, div.footer-menu {
	text-align: center
}
.billing_available {
	width: 30%;
	float: left;
	margin: 0 7px
}
.twitter .twit {
	margin: 10px 0
}
.banner-slider .carousel {
	display: none
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 15px 100px 10px 86px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
.media-block .club-news .info .btn {
	font-size: 10px
}
.media-block .club-news .info span {
	font-size: 16px
}
.media-block .club-news .info h4 {
	font-size: 12px;
	letter-spacing: .6px;
	line-height: 15px
}
h3 {
	font-size: 20px;
	line-height: 35px
}
div.hvr {
	border: none;
	padding: 0;
	margin: 15px 0
}
.tag {
	position: relative;
	display: block
}
.advanced-search .form-control {
	width: 100%
}
a.logo.pull-left {
	width: 8%
}
a.logo.pull-left img {
	width: 100%
}
.my-order-holder {
	width: 100%;
	max-width: 769px
}
div.container .my-order-summary-box-holder {
	margin: 20px 0
}
div.container input.btn.check_out {
	margin-left: 0
}
.col-md-6.clb_exprsn_blt_hm ul {
	margin-left: 30px;
	padding: 0
}
div.button-holder {bottom: 0px;}
body div.caption-box { /*line-height:0px;*/ padding:10px 24px 5px 24px;}
body div.banner-caption {bottom:0;}
div.form-main-holder {margin-bottom: 20px;}
.bg_grw_01 { height:auto !important;}
.fav-holder { margin-top:20px;}
footer .joinus span.social a {    margin-right: 13px;}
body footer div.feedback .btn-danger{ max-width:inherit; width:auto;}
.fetaured-video-holder{ margin-bottom:20px;}
body a.selectBox.form-control {    padding: 0 30px 0 2px;}
body div.local-search.club div.form-group {    padding-left: 64px;}
.advanced-search label { width: 120px;}
}
@media screen and (max-width:736px) {
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
}
@media screen and (max-width:700px) {
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
}
@media screen and (max-width:667px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%*/
}
}
@media screen and (max-width:640px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.banner-slider .carousel {
	display: none
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 40px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 65%
}
.flt_right_wrp {
	/*width: 32%;*/
}
.button-holder {
	bottom: 0;
}
}
@media screen and (max-width:620px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
}
@media screen and (max-width:600px) {
.local-search.club {
	padding: 20px;
	overflow: hidden;
	margin: 10px 0 20px
}
.header .search .button-search {
	margin: 10px 8px
}
.header .links {
	margin: 14px 0
}
.header .links .favourites {
	margin-left: 25px;
	padding-left: 35px
}
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}

}
@media screen and (max-width:575px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}
}
@media screen and (max-width:568px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}
}
@media screen and (max-width:539px) {
.twitter .twit {
	margin: 20px 0
}
.header .search .button-search {
	margin: 15px 8px
}
.billing_available {
	margin: 15px 0
}
.media-block .club-news .info .btn {
	font-size: 9px
}
.banner-slider .carousel {
	display: none
}
col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}
}
@media screen and (max-width:533px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}
}
@media screen and (max-width:500px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.mrgn_tpbtn_only_sml_dvc {
	margin: 15px 0
}
}
@media screen and (max-width:480px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
h1.page-title {
	font-size: 16px
}
h5.sub-title {
	font-size: 14px
}
.header .search .button-search, .header .search .category, .header .search .region, .local-search.club {
	margin-bottom: 10px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 20px;
	line-height: 36px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
.with_resuld_board {
	margin: 0 0 20px!important
}
body h3 span {
	border: none
}
/*.btn{ font-size:11px;}
input.btn.btn-danger, input.btn.btn-danger-01{ font-size:11px;}*/
}
@media screen and (max-width:460px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 20px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
}
@media screen and (max-width:440px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 20px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
}
@media screen and (max-width:414px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
}
@media screen and (max-width:400px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
col-sm-12 club-news {
	display: none
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px;
	width: 95%!important;
	margin-right: 14px
}
}
@media screen and (max-width:375px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
col-sm-12 club-news {
	display: none
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
.advanced-search .btn {
	margin-bottom: 10px
}
.advanced-search label {
	padding-left: 5px;
	font-size: 11px;
	letter-spacing: .5px
}
.media-block .club-news .info span {
	font-size: 12px
}
.media-block .club-news .info h4 {
	font-size: 11px;
	letter-spacing: .8px
}
}
@media screen and (max-width:360px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
h3 {
	font-size: 20px;
	line-height: 41px
}
p {
	text-align: justify
}
col-sm-12 club-news {
	display: none
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
.advanced-search label {
	width: 29.56%;
	font-size: 10px;
	padding-left:0px;
	left: 10px;
}
.advanced-search .btn {
	margin-bottom: 10px;
	margin-top: 10px
}
.media-block .club-news .info h4 {
	font-size: 10px
}
.media-block .club-news .info span {
	font-size: 14px
}
.media-block .club-news .info p {
	font-size: 10px;
	line-height: 12px
}
footer .sitemap a {
	font-size: 10px;
	letter-spacing: 1px
}
}
@media screen and (max-width:340px) {
.navbar-nav>li>a {
	padding: 12px 19px
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 20px;
	line-height: 27px
}
p {
	text-align: justify
}
col-sm-12 club-news {
	display: none
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
}
@media screen and (max-width:320px) {
.banner-slider .carousel, col-sm-12 club-news {
	display: none
}
.header .links .cart {
	margin-left: 26px;
	padding-left: 25px
}
.header .search .selectBox-dropdown {
	margin-bottom: 5px
}
.header .search .button-search, .header .search .category, header .search .region {
	margin-bottom: 8px
}
.info-block {
	max-width: 290px
}
.info-block img {
	width: 285px;
}
span.rating img, a.favourites.btn.btn-default span img, a.btn.btn-default.write_review span img { width: inherit;}
.billing_available {
	margin: 10px 0
}
.twitter .twit {
	font-size: 11px;
	letter-spacing: .5px
}
.local-search.club {
	margin: 20px 0
}
footer h3 {
	font-size: 20px
}
.col-md-7.member-detail.club_for_member_wrp {
	padding: 30px 10px 10px 20px
}
.advanced-search .btn {
	margin: 0 0 15px
}
.media-block .club-news .info span {
	font-size: 12px
}
.media-block .club-news .info h4 {
	font-size: 10px
}
.col-sm-7.club-news h3 {
	font-size: 15px;
	margin: 41px 0 20px
}
.media-block .club-news .info .btn {
	font-size: 7px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.item.logo_img img {
	height: 50px
}
.mrgn_top_02 {
	position: absolute;
	width: 89%;
	font-size: 19px
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
.widht_cntr_mm {
	width: 100%!important
}
.copyright {
	text-align: center
}
.pull-right {
	text-align: center!important
}
.header .links .login-register {
	margin-left: 0
}
.with_resuld_board {
	margin: 0 0 20px!important;
	float: left
}
.bg_nn_pgmrgn {
	padding: 0!important;
	margin: 0!important
}
.info-block .info-links a.btn {
	display: table;
	margin-top: 13px;
}
}
@media screen and (max-width:300px) {
.advanced-search, col-sm-12 club-news {
	display: none
}
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 20px;
	line-height: 27px
}
p {
	text-align: justify
}
.item.logo_img img {
	height: 50px
}
.mrgn_top_02 {
	position: absolute;
	width: 89%;
	font-size: 19px
}
.header .search .button-search {
	margin: 15px 8px
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
.widht_cntr_mm {
	width: 100%
}
}
@media screen and (max-width:240px) {
.advanced-search, col-sm-12 club-news {
	display: none
}
.navbar-nav>li>a {
	padding: 12px 19px
}
.col-md-12.enquiry_box_wrp_01 {
	overflow: hidden;
	float: left;
	background-size: 100%
}
.col-md-12.enquiry_box_wrp_01 a img {
	padding: 10px 60px 7px 51px;
	width: 100%
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.item.logo_img img {
	height: 50px
}
.mrgn_top_02 {
	position: absolute;
	width: 89%;
	font-size: 19px
}
.header .search .button-search {
	margin: 15px 8px
}
.cmn_wrp_wht_pdgn {
	width: 95%
}
.flt_right_wrp {
	margin-top: 15px
}
.widht_cntr_mm {
	width: 100%!important
}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.navbar-toggle {
	background-size: 30px 25px
}
.select-style, .select-style select:focus {
	background-size: 60px 50px
}
.col-lg-12.grey-color1 {
	margin-top: -8%
}
h3 {
	font-size: 14px;
	line-height: 27px
}
p {
	text-align: justify
}
.item.logo_img img {
	height: 50px
}
.mrgn_top_02 {
	position: absolute;
	width: 89%;
	font-size: 19px
}
}
.border_wrp_bx_ {
	border: 1px solid #c3c3c3;
	padding: 15px;
	margin: 20px 69px
}
.fnt_n_clr_fx p {
	font-size: 18.77px;
	color: #4d4d4d;
	padding: 0 0 5px;
	margin: 0;
	text-transform: capitalize
}
.fnt_n_clr_fx span {
	font-size: 18.77px;
	color: #9d9d9d!important;
	padding: 5px 0 0;
	float: left
}
div.container .fnt_n_clr_fx h3 {
	border: none;
	margin: 0;
	padding: 0
}
.brd_btm_tp_dfn, .brd_tp_dfn {
	border-top: #dfdfdf 1px solid
}
.fnt_n_clr_fx_rgt h3 {
	color: #c52e38;
	border-bottom: 0;
	padding: 0;
	margin: 0
}
.brd_btm_dfn, .brd_btm_tp_dfn {
	float: left;
	overflow: hidden;
	border-bottom: #dfdfdf 1px solid
}
.fnt_n_clr_fx_rgt p {
	font-size: 18.77px;
	color: #4d4d4d;
	text-align: right
}
.dlivery_btn_box_wrp p, .dlivery_btn_box_wrp textarea {
	font-style: italic;
	letter-spacing: .5px;
	text-align: left
}
.crd_wrp {
	float: left
}
.crd_wrp ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}
.crd_wrp ul li {
	float: left;
	padding: 8px 4PX
}
.crd_wrp ul li:first-child {
	padding-left: 0
}
.crd_wrp ul li:last-child {
	padding-right: 0
}
.brd_btm_dfn {
	padding: 18px 0;
	margin: 0
}
.brd_tp_dfn {
	float: left;
	overflow: hidden;
	padding: 10px 65px;
	margin: 5px 0
}
.brd_btm_tp_dfn {
	padding: 32px 69px;
	margin: 25px 0
}
.brd_btm_tp_dfn h4 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	letter-spacing: .5px;
	text-transform: uppercase;
	font-weight: 400
}
.fnt_n_clr_fx_rgt h3.hd_wrp {
	font-size: 13px;
	line-height: 30px;
	padding: 0;
	margin: 0
}
.dlivery_btn_box_wrp {
	margin: 5px 0;
	overflow: hidden
}
.dlivery_btn_box_wrp p {
	padding: 0;
	margin: 0;
	font-size: 18.77px
}
.dlivery_btn_box_wrp textarea {
	background: #eaeaea;
	border-color: #cbcbcb #eaeaea;
	border-style: solid;
	border-width: 1px;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin: 5px 0;
	padding: 0 25px 0 18px;
	width: 100%;
	overflow: hidden
}
textarea.address:enabled {
	background: #fff;
	border-right: 0;
	border-left: 0
}
textarea.address:disabled {
	background: #eaeaea;
	border-left: 0;
	border-right: 0
}
.fnt_n_clr_fx h5 {
	line-height: 30px;
	font-size: 19px;
	font-weight: 400;
	font-family: inherit;
	color: #4d4d4d;
	padding: 0;
	margin: 5px 0 11px
}
input.btn.check_out {
	border-radius: 0;
	color: #4d4d4d;
	font-family: inherit;
	font-size: 26.8px;
	letter-spacing: .9px;
	line-height: 20px;
	padding: 22px 0;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
	max-width: 608px;
	margin-left: 69px
}
p.edit-add-holder {
	color: #c52e38;
	font-family: helvetica, sans-serif;
	font-size: 18.77px;
	font-weight: 700;
	margin-bottom: 0;
	text-align: right
}
p.edit-add-holder span {
	display: inline-block;
	float: left;
	line-height: 20px
}
.my-order-holder {
	width: 100%;
	max-width: 793px;
	margin: 0 auto;
	overflow: hidden
}
.my-order-summary-box-delivery-holder, .my-order-summary-box-holder {
	width: 100%;
	display: inline-block;
	max-width: 609px;
	border: 1px solid #c3c3c3
}
.my-order-summary-box-holder {
	padding: 0 18px;
	margin: 0 69px
}
.my-order-summary-box-delivery-holder {
	padding: 18px;
	margin: 0 69px 37px
}
.order-sumary-total-amount-holder {
	display: inline-block;
	padding-top: 18px;
	padding-bottom: 22px;
	width: 100%
}
div.my-order-summary-box-holder p label.control-label check_bx_pp_lbl {
	line-height: 18px
}
div.my-order-summary-box-holder p {
	margin-bottom: 0;
	padding-bottom: 0
}
a.footer-info-email {
	background: url(../images/env.png) left center no-repeat;
	padding-left: 22px;
	display: block
}
a.footer-phone-number {
	background: url(../images/phone.png) left center no-repeat;
	padding-left: 22px;
	display: block
}
a.footer-fax-number {
	background: url(../images/fax.png) left center no-repeat;
	padding-left: 22px;
	display: block
}
.login-footer-register-forgot-password-holder {
	padding: 10px;
	position: relative;
	width: 100%;
	text-align: right;
	color: #000
}
a#forget_password, a#register_modal_link {
	font-weight: 700;
	font-size: 16px;
	color: #73726c
}
.icon-cart-medium-white {
	position: absolute;
	display: block
}
.view-product {
	position: relative;
	display: block
}
.view-product a {
	float: left;
	display: block;
	line-height: 32px
}
.view-product a span {
	height: 100%;
	line-height: 100%;
	display: block
}
.view-product a span img {
	display: block
}
.view-product a.view-product-link {
	padding-left: 10px
}
.view-product a.add-to-cart {
	width: 43px;
	border-right: 1px solid #333;
	height: 32px;
	float: left
}
.view-product a.add-to-cart span {
	padding: 0;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%
}
.view-product a.add-to-cart img {
	position: relative;
	top: 5px;
	left: 11px;
	display: block
}
.view-product a.add-to-favourites {
	width: 43px;
	border-right: 1px solid #333;
	height: 32px;
	float: left
}
.view-product a.add-to-favourites span {
	padding: 0;
	text-align: center;
	vertical-align: middle;
	display: block;
	width: 100%
}
.view-product a.add-to-favourites span img {
	position: relative;
	top: 7px;
	left: 11px
}
div.custom-checkbox-big-holder input[type=checkbox].error+label+label div.check_box_big:before {
	border: 4px solid red
}
div.custom-checkbox-big-holder input[type=checkbox].error+label.error {
	display: none!important
}
form#reviewform {
	display: inline-block;
	width: 100%
}
form#reviewform button#closeform {
	right: -46px;
	top: -42px
}
.total_amount {
	text-align: right
}
.fnt_n_clr_fx {
	float: left
}
div.order-sumary-total-amount-holder label.error {
	top: -32px
}
div.cart-list-holder div.quantity-holder div.quantity_dropdown {
	float: left
}
div.cart-list-holder div.quantity-holder select.selectBox {
	display: block!important;
	margin-left: 10px
}
div.cart-list-holder div.quantity-holder select.selectBox+a.selectBox-dropdown {
	display: none!important
}
.navbar-nav>li>a {
	line-height: 19px
}
.banner-caption-inner .caption-box h3 {
	padding-bottom: 12px;
	margin-bottom: 17px
}
.banner-caption-inner .caption-box h3 span {
	padding-bottom: 7px
}
.button-holder {
	position: absolute;
	bottom: 25px;
}
.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 0
}
footer div.feedback .btn-danger {
	position: absolute;
	bottom: 0;
	right: 15px
}
@media screen and (min-width:1230px) {
.col-width-adjust-increase {
	width: 60%
}
#search-featured .advanced-search.form-main-holder {
	padding: 20px 27px 15px
}
.col-width-adjust-decrease {
	width: 40%
}
.col-width-adjust-increase-white-holder {
	width: 79%
}
.col-width-adjust-decrease-white-holder {
	width: 21%
}
div.members-lists-holder div.col-width-adjust-increase-white-holder div.whit_box {
	padding: 18px 10px 14px;
	margin-bottom: 8px
}
.decrease-padding-left {
	padding-left: 7px
}
.decrease-padding-right {
	padding-right: 8px
}
.col-width-adjust-increase-information-for-club {
	width: 62%
}
.col-width-adjust-decrease-information-for-club {
	width: 38%
}
.top-padding-7 {
	line-height: 23px;
	margin-top: 26px
}
.col-width-adjust-decrease-information-for-club p, .col-width-adjust-increase-information-for-club p {
	margin-bottom: 20px
}
.col-width-adjust-increase-information-for-club-left-centent {
	width: 52%
}
.col-width-adjust-decrease-information-for-club-right-video {
	width: 48%;
	margin-top: 32px
}
.col-md-6.clb_exprsn_blt_hm ul {
	margin-left: 15px
}
.col-width-adjust-decrease-information-for-club-right-video .embed-responsive.embed-responsive-16by9 {
	height: 338px
}
.padding-left-right-12 {
	padding: 0 12px
}
.padding-right-12 {
	padding-right: 12px
}
.padding-left-12 {
	padding-left: 12px
}
.padding-right {
	padding-right: 0
}
.padding-left {
	padding-left: 0
}
.enquiryform {
	padding-top: 7px
}
.enquiryform h4 {
	margin-top: 25px;
	margin-bottom: 0
}
.enquiryform h4.right_align {
	margin-top: 10px
}
.padding-top-13 {
	padding-top: 13px
}
.enquiry_section .margin-bottom-3 {
	margin-bottom: 3px
}
.margin-top-control {
	margin-top: 65px
}
.margin-bottom-control {
	margin-bottom: 37px
}
.margin-top-o {
	margin-top: 0
}
.margin-top-minus-7 {
	margin-top: -7px
}
.margin-top-minus-30 {
	margin-top: -30px!important
}
.club-news-img-min-height {
	height: 107px
}
.padding-bottom-control-holder {
	padding: 48px 0 23px
}
.enquiry_section-supplier h3 {
	padding-bottom: 13px;
	margin-bottom: 24px
}
.enquiry_section-supplier {
	margin-top: 0
}
.enquiry_section-supplier p {
	margin: 0 0 18px
}
.adrs_wrp_vip, .order-supplies-above-holder {
	margin-left: 21px
}
.col-width-adjust-increase-contact-left-holder {
	width: 51.2%
}
.col-width-adjust-decrease-contact-right-holder {
	width: 48.8%
}
.margin-top-50 {
	margin-top: 50px
}
.margin-top-56 {
	margin-top: 56px
}
.adrs_wrp_vip {
	margin-top: 32px
}
.margin-bottom-12 {
	margin-bottom: 12px
}
#search-featured .advanced-search.form-main-holder.padding-left-right-12 {
	padding: 15px 12px 10px
}
.margin-left-right-o {
	margin-left: 0;
	margin-right: 0
}
h4.margin-top-6 {
	margin-top: 6px
}
textarea.textarea-height-control {
	height: 102px
}
.rewards-club-logo-1st {
	width: 152px
}
.rewards-club-logo-2st, .rewards-club-logo-3st {
	width: 115px
}
.rewards-club-logo-4st {
	width: 117px
}
.margin-bottom-15 {
	margin-bottom: 15px
}
.margin-bottom-8 {
	margin-bottom: 8px
}
.padding-left-right-8 {
	padding-left: 8px;
	padding-right: 8px
}
.padding-top-bottom-8 {
	padding-top: 8px;
	padding-bottom: 8px
}
.col-width-adjust-increase-advance-search-list {
	width: 68.7%
}
.col-width-adjust-decrease-advance-search-list {
	width: 31.3%
}
body .btn-margin-35 {
	margin-bottom: 25px
}
body div.padding-right-adjustment {
	padding-right: 0
}
body div.padding-left-adjustment {
	padding-left: 0
}
.padding-left-7 {
	padding-left: 7px
}
.cart-total-holder.padding-top-bottom-9 { padding:9px;}
.padding-top-bottom-9 { padding:9px 0;}
div.members-lists-holder div.col-width-adjust-increase-white-holder div.whit_box {
	margin-bottom: 8px
}
div.col-width-adjust-decrease-white-holder.decrease-padding-left.decrease-padding-right div.whit_box {
	margin-bottom: 8px
}
.col-width-adjust-increase-advance-search-list-white {
	width: 69.7%
}
.col-width-adjust-decrease-advance-search-list-white {
	width: 30.3%
}
}
.rates {
	line-height: 40px
}
body .whit_box h4.rating {
	padding-bottom: 20px;
	line-height: 20px
}
#member_name-error {color: #c9302c;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 11;}
#member_email-error {color: #c9302c;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 11;}
#user-email { position:relative;}
div.error.show-error {color: #c9302c;
    position: absolute;
    left: 15px;
    top: 10px;
    z-index: 11;}
.refinesearchform { width:100%;}

