#scrollbar1,
#scrollbar2,
#scrollbar3{
    width:100%;
    margin:0 auto ;
    position: relative;
}

#scrollbar1 .viewport,
#scrollbar2 .viewport,
#scrollbar3 .viewport{
    height: 300px;
    overflow:hidden;
    position:relative;    
}

#scrollbar1 .overview,
#scrollbar2 .overview,
#scrollbar3 .overview{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 0;
    width: 100%;
}

#scrollbar1 .scrollbar,
#scrollbar2 .scrollbar,
#scrollbar3 .scrollbar{
    background:#f6f6f6;
    border: 1px solid #ddd;
    position:absolute;
    background-position:0 0;
    right:0;
    top:0;
    width:12px;
    border-radius: 8px;
}

#scrollbar1 .track,
#scrollbar2 .track,
#scrollbar3 .track{
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}

#scrollbar1 .thumb,
#scrollbar2 .thumb,
#scrollbar3 .thumb{
    background:#cdcdcd;
    height:20px;
    width:10px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    border-radius: 8px;
}

#scrollbar1 .thumb .end,
#scrollbar2 .thumb .end,
#scrollbar3 .thumb .end{
    overflow:hidden;
    height:5px;
    width:25px;
}

#scrollbar1 .disable,
#scrollbar2 .disable,
#scrollbar3 .disable{
    display:none;
}

.noSelect{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}